<script src='https://www.google.com/recaptcha/api.js?hl=th'></script>
<div id='reg_container'>
    <div id='register_pannel'>
      <h3 id='reg_head'>สมาชิกใหม่</h3>
      <%= form_tag('/reg', id: 'reg_form', remote: true, authenticity_token: true, :multipart => true, enctype: 'application/json') do %>
        <% reg_key = $data_reg.keys.sample %>
        <% dummies0 = rand(3).times.collect{|i| (0...5).map{ $ooo[rand($ooo.length)] }.join } %>
        <% dummies1 = rand(3).times.collect{|i| (0...5).map{ $ooo[rand($ooo.length)] }.join } %>
        <% dummies2 = rand(3).times.collect{|i| (0...5).map{ $ooo[rand($ooo.length)] }.join } %>
        <% dummies3 = rand(3).times.collect{|i| (0...5).map{ $ooo[rand($ooo.length)] }.join } %>
        <% dummies4 = rand(3).times.collect{|i| (0...5).map{ $ooo[rand($ooo.length)] }.join } %>
        <%
           def random_input_by_id(id)
             {
               0=> ((text_field_tag id.to_sym, nil, placeholder: 'Username')).html_safe,
               1=> ((password_field_tag id.to_sym, nil, placeholder: 'Password')).html_safe,
               2=> ((password_field_tag id.to_sym, nil, placeholder: 'Password Confirmation')).html_safe,
               3=> (email_field(id.to_sym, nil, placeholder: 'Email', name: id, id: id)).html_safe,
             }[rand(4)]
           end
        %>
        <style>
          #<%= $data_reg[reg_key][:a] %>, #<%= $data_reg[reg_key][:b] %>, #<%= $data_reg[reg_key][:c] %>, #<%= $data_reg[reg_key][:d] %>_ {
            border: 1px solid #BBBBBB;
            font-size: 10pt;
            padding: 6px;
            width: 100%;
            color: #555555;
            margin-top: 4px;
          }
          <%= (dummies0+dummies1+dummies2+dummies3+dummies4).flatten.collect{|h| '#'+h }.join(', ') %> {
            width: 1px;
            height: 1px;
            border: none;
            position: absolute;
            visibility: hidden;
          }
        </style>
        <%= hidden_field_tag 'regk', reg_key %>
        <%= dummies0.collect{|a| random_input_by_id(a)}.join().html_safe %>
        <%= text_field_tag $data_reg[reg_key][:a].to_sym, nil, placeholder: 'Username' %><br>
        <%= dummies1.collect{|a| random_input_by_id(a)}.join().html_safe %>
        <%= password_field_tag $data_reg[reg_key][:b].to_sym, nil, placeholder: 'Password' %><br>
        <%= dummies2.collect{|a| random_input_by_id(a)}.join().html_safe %>
        <%= password_field_tag $data_reg[reg_key][:c].to_sym, nil, placeholder: 'Password Confirmation' %><br>
        <%= dummies3.collect{|a| random_input_by_id(a)}.join().html_safe %>
        <%= email_field($data_reg[reg_key][:d].to_sym, nil, placeholder: 'Email', class: 'reg_input', name: $data_reg[reg_key][:d], id: $data_reg[reg_key][:d]) %><br>
        <%= dummies4.collect{|a| random_input_by_id(a)}.join().html_safe %>
        <br>
        <span style="font-size: 10px;">ในการสมัครใช้งาน เราถือว่าคุณเข้าใจและยอมรับ <a href="<%= terms_term_of_services_path %>">ข้อตกลงในการให้บริการ</a>, <a href="<%= terms_privacy_policy_path %>">นโยบายความเป็นส่วนตัว</a> &amp; <a href="<%= terms_refund_policy_path %>">นโยบายการคืนเงินและคืนสินค้าหรือบริการ</a> ของ Playdigger</span><br><br>
        <%= submit_tag 'ลงทะเบียน', id: 'reg_submit', class: 'g-recaptcha', data: { sitekey: '6Lf6AyEUAAAAAOsxg8dO-ulwiIJ447h3mASQR7jL', callback: 'regSubmit' } %>
      <% end %>
    </div>
</div>
