if ('<%= @status %>' == 'good') {
  alertSnack('<%= @message %>', '<%= @status %>');
  setTimeout(function(){
    window.location = "/home";
  }, 1000);
} else {
  alertSnack('<%= @message %>', '<%= @status %>');
  grecaptcha.reset();
}
