<% unless current_user.is_confirmed %>
  <div id='announce'>
    <span>กรุณายืนยัน Email เพื่อรับเครดิตสำหรับการทดลองใช้ <%= BONUS_NEW_ACCOUNT %> คะแนนโหวต</span>
  </div>
<% end %>
<div id='home_container'>
  <div id='home_navi'>
    <a href='<%= home_path %>' class='navi'>หน้าแรก</a>
    <a href='<%= topup_path %>' class='navi'>เติมเงิน</a>
    <a href='<%= transaction_history_path %>' class='navi active'>ประวัติการเติมเงิน</a>
    <a href='<%= order_history_path %>' class='navi'>ประวัติการใช้บริการ</a>
    <a href='<%= contact_path %>' class='navi'>ติดต่อ</a>
    <a href='<%= setting_path %>' class='navi'>ตั้งค่า</a>
  </div>

  <div id='home_main_content'>
    <div id='home_head'>
      <span id='text_rim'>ประวัติการเติมเงิน</span>
    </div>
    <hr>
    <div id='transaction_detail_container'>
      <table id='transaction_detail'>
        <thead>
          <tr>
            <td width="20%">เวลา</td>
            <td width="20%">สถานะ</td>
            <td width="20%">รหัส</td>
            <td width="10%">ราคา</td>
            <td width="20%">เครดิต</td>
            <td width="10%">ช่องทาง</td>
          </tr>
        </thead>
        <tbody>
          <% MoneyTransaction.where(:user_id => current_user.id).order(:created_time => :desc).limit(10).offset((@page-1)*10).each do |ttrns| %>
            <tr>
              <td><%= Time.at(ttrns.created_time).strftime('%D %r') %></td>
              <td><%=
                case ttrns.status
                when 'A'
                  '<span style="color: #9A762F;">กำลังตรวจสอบ</span>'.html_safe
                when 'B'
                  '<span style="color: #4C9A2F;">ยืนยัน</span>'.html_safe
                when 'C'
                  '<span style="color: #9A3030;">ล้มเหลว</span>'.html_safe
                end
              %></td>
              <td><%= ttrns.password || '-' %></td>
              <td><%= ttrns.price || '-' %></td>
              <td><%= ttrns.amount || '-' %></td>
              <td><%=
                case ttrns.topup_type
                when "true"
                  "TRUEM"
                when "paypal"
                  "PAYPA"
                when "debit"
                  "TRANS"
                end
              %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
      <div id='paginateWrapper'>
        <a href='<%= @page == 1 ? '#' : '?page='+(@page-1).to_s %>' class='paginate <%= @page == 1 ? 'active' : '' %>'>&#60;</a>
          <% @total_page.times do |i| %>
            <a href='?page=<%= i+1 %>' class='paginate <%= @page == i+1 ? 'active' : '' %>'><%= i+1 %></a>
          <% end %>
        <a href='<%= (@page*10) >= @total ? '#' : '?page='+(@page+1).to_s %>' class='paginate <%= (@page*10) >= @total ? 'active' : '' %>'>&#62;</a>
      </div>
    </div>
  </div>
</div>
