<div id='term_container'>
  <div id='term_wrapper'>
    <div id='term_header'>
      <span>นโยบายความเป็นส่วนตัว</span>
    </div>
    <span>1.       <strong>บทนำ</strong>
    <br>
    <br>1.1       ขอต้อนรับสู่ Playdigger (เรียกแยกและเรียกรวมกันว่า “Playdigger”, “เรา”, “พวกเรา” หรือ “ของเรา”) Playdigger มีหน้าที่รับผิดชอบภายใต้กฎหมายและข้อบังคับความเป็นส่วนตัวที่บังคับใช้ (“กฎหมายเกี่ยวกับการคุ้มครองข้อมูลส่วนบุคคล”) อย่างจริงจัง และยึดมั่นต่อการเคารพสิทธิและให้ความสำคัญเกี่ยวกับความเป็นส่วนตัวของผู้ใช้เว็บไซต์Playdigger ทั้งหมด (เรียกรวมกันว่า “ไซต์”) (เราเรียกไซต์และบริการที่เรามอบให้ดังที่ระบุไว้ในไซต์ของเราโดยรวมว่า “บริการ”) และ “ผู้ใช้” หมายถึง ผู้ใช้ที่มีบัญชีซึ่งได้ลงทะเบียนกับเราและใช้ไซต์ (เรียกแยกและเรียกรวมกันว่า “ผู้ใช้” “คุณ” หรือ “ของคุณ”) เราตระหนักถึงความสำคัญของข้อมูลส่วนบุคคลที่คุณมอบให้แก่เรา และเชื่อว่าเรามีหน้าที่รับผิดชอบในการจัดการ ปกป้อง และดำเนินการข้อมูลส่วนบุคคลของคุณอย่างเหมาะสม นโยบายความเป็นส่วนตัวนี้ (“นโยบายความเป็นส่วนตัว” หรือ “นโยบาย”) ได้รับการออกแบบมาเพื่อช่วยให้คุณเข้าใจเกี่ยวกับวิธีที่เราเก็บรวบรวม ใช้ เปิดเผย และ/หรือดำเนินการข้อมูลส่วนบุคคลที่คุณมอบให้แก่เราและ/หรือข้อมูลของคุณที่เราครอบครองไม่ว่าจะในปัจจุบันหรืออนาคต รวมทั้งยังเป็นข้อมูลประกอบการตัดสินใจก่อนที่คุณจะให้ข้อมูลส่วนตัวใดๆ แก่เรา โปรดอ่านนโยบายความเป็นส่วนตัวนี้โดยละเอียด
    <br>
    <br>1.2      “ข้อมูลส่วนบุคคล” หมายถึง ข้อมูลเกี่ยวกับบุคคลไม่ว่าจริงหรือเท็จที่สามารถใช้เป็นข้อมูลที่ระบุตัวตนของบุคคลผู้นั้น หรือจากข้อมูลดังกล่าวหรือข้อมูลอื่นๆ ที่องค์กรมีหรืออาจสามารถเข้าถึงได้ ตัวอย่างข้อมูลส่วนบุคคลที่พบบ่อยได้แก่ ชื่อ หมายเลขประจำตัว และข้อมูลการติดต่อ
    <br>
    <br>1.3       ในการใช้บริการ การลงทะเบียนบัญชีกับเรา เยี่ยมชมไซต์ และ/หรือเข้าถึงบริการ คุณ ได้รับทราบและตกลงว่าคุณยอมรับข้อปฏิบัติ ข้อกำหนด และ/หรือนโยบายที่กำหนดไว้ในนโยบายความเป็นส่วนตัวนี้ และคุณ ยินยอมให้เราเก็บรวบรวม ใช้ เปิดเผย และ/หรือดำเนินการข้อมูลส่วนบุคคลของคุณดังที่ระบุไว้ในนโยบายความเป็นส่วนตัวนี้ หากคุณไม่ยินยอมให้เราดำเนินการข้อมูลส่วนบุคคลของคุณดังที่ระบุไว้ในนโยบายความเป็นส่วนตัวนี้ โปรดอย่าใช้บริการหรือเข้าถึงไซต์หากเราเปลี่ยนแปลงนโยบายความเป็นส่วนตัวของเรา เราจะโพสต์การเปลี่ยนแปลงดังกล่าวหรือนโยบายความเป็นส่วนตัวที่แก้ไขบนไซต์ เราขอสงวนสิทธิ์ในการแก้ไขนโยบายความเป็นส่วนตัวนี้ในทุกเมื่อโดยอาจแจ้งหรือไม่ได้แจ้งให้คุณทราบก็ตาม
    <br>
    <br> 
    <br>
    <br>2.      <strong>Playdigger จะเก็บรวบรวมข้อมูลส่วนบุคคลเมื่อใด</strong>
    <br>
    <br>2.1    เราจะ/อาจเก็บรวบรวมข้อมูลส่วนบุคคลของคุณเมื่อ:
    <br>
    <br>(a)     เมื่อคุณได้เข้าถึงและ/หรือใช้บริการหรือไซต์ของเรา หรือลงทะเบียน และ/หรือสมัครบัญชีผู้ใช้กับเรา
    <br>
    <br>(b)     เมื่อคุณส่งแบบฟอร์ม รวมถึงแต่ไม่จำกัดเพียง แบบฟอร์มการสมัครหรือแบบฟอร์มอื่นๆ ที่เกี่ยวข้องกับผลิตภัณฑ์และบริการของเรา ไม่ว่าจะแบบออนไลน์หรือแบบฟอร์มเป็นเอกสาร
    <br>
    <br>(c)     เมื่อคุณทำข้อตกลงใดๆ หรือให้เอกสารหรือข้อมูลอื่นใดที่เกี่ยวข้องกับการติดต่อระหว่างคุณกับเรา หรือเมื่อคุณใช้ผลิตภัณฑ์และบริการของเรา
    <br>
    <br>(d)     เมื่อคุณติดต่อกับเรา เช่น ผ่านทางโทรศัพท์ (ซึ่งจะได้รับการบันทึก) จดหมาย แฟกซ์ การประชุมแบบเห็นหน้ากัน แพลตฟอร์มสื่อทางสังคม และอีเมล
    <br>
    <br>(e)     เมื่อคุณใช้บริการทางอิเล็กทรอนิกส์ หรือติดต่อกับเราผ่านไซต์หรือใช้บริการ ซึ่งรวมถึงแต่ไม่จำกัดเพียง การใช้ผ่านคุกกี้ ซึ่งเราอาจปรับใช้เมื่อคุณใช้บริการหรือเข้าถึงไซต์
    <br>
    <br>(f)      เมื่อคุณดำเนินธุรกรรมผ่านบริการของเรา
    <br>
    <br>(g)     เมื่อคุณให้ความคิดเห็นหรือคำร้องเรียนแก่เรา
    <br>
    <br>(h)     เมื่อคุณลงทะเบียน เข้าทำสัญญา และ/หรือเข้าร่วมในการแข่งขัน และ/หรือกิจกรรมส่งเสริมการขาย
    <br>
    <br>(i)      เมื่อคุณใช้หรือร้องขอจะใช้บริการที่จัดไว้ให้โดยผู้ให้บริการภายนอกของเราบนไซต์ เช่น การชำระเงิน บริการด้านโลจิสติกส์ เป็นต้น
    <br>
    <br>(j)      เมื่อคุณเข้าเยี่ยมชมหรือใช้เว็บไซต์และแอปพลิเคชั่นของเรา
    <br>
    <br>(k)     เมื่อคุณเข้าเยี่ยมชมหรือใช้เว็บไซต์และแอปพลิเคชั่นของบุคคลภายนอกที่ใช้ และ/หรือ เกี่ยวข้องกับบริการของเรา
    <br>
    <br>(l)      เมื่อคุณติดตั้งแอปพลิเคชั่นบนคอมพิวเตอร์ โทรศัพท์ หรืออุปกรณ์อื่น (“อุปกรณ์”) และ/หรือใช้อุปกรณ์เพื่อเข้าถึงบริการของเรา
    <br>
    <br>(m)    เมื่อคุณเชื่อมต่อบัญชีของคุณกับเว็บไซต์หรือแอปพลิเคชั่นของบุคคลภายนอก แก่บัญชีผู้ใช้ของคุณกับเราผ่านทางไซต์ หรือ
    <br>
    <br>(n)    เมื่อคุณส่งข้อมูลส่วนบุคคลของคุณให้แก่เราด้วยเหตุผลใดก็ตาม
    <br>
    <br>นโยบายดังกล่าวข้างต้นไม่ได้อ้างไว้โดยละเอียดถี่ถ้วนและเป็นเพียงตัวอย่างทั่วไปเมื่อเราเก็บรวบรวมข้อมูลส่วนบุคคลเกี่ยวกับคุณ
    <br>
    <br>2.2    เราอาจเก็บรวบรวม ใช้ เปิดเผย และ/หรือดำเนินการข้อมูลนี้เพื่อวัตถุประสงค์ต่างๆ (ดังที่กำหนดไว้ด้านล่าง)
    <br>
    <br> 
    <br>
    <br>3.      <strong>Playdigger จะเก็บรวบรวมข้อมูลส่วนบุคคลใดไว้บ้าง</strong>
    <br>
    <br>3.1    ข้อมูลส่วนบุคคลที่ Playdigger อาจเก็บรวบรวมนั้นจะรวมถึงแต่ไม่จำกัดเพียง:
    <br>•        ที่อยู่อีเมล
    <br>
    <br>•        ที่อยู่อินเทอร์เน็ตโปรโตคอล (IP)
    <br>
    <br>• ข้อมูลอื่นใดเกี่ยวกับผู้ใช้เมื่อผู้ใช้ลงทะเบียนเข้าใช้บริการหรือไซต์ของเรา และเมื่อผู้ใช้ใช้บริการหรือไซต์ รวมถึงข้อมูลที่เกี่ยวกับวิธีการใช้บริการหรือไซต์ของผู้ใช้
    <br>
    <br>• ข้อมูลจากหรือเกี่ยวกับอุปกรณ์ที่คุณติดตั้งแอปพลิเคชั่นของเรา และ/หรือใช้อุปกรณ์เพื่อเข้าถึงบริการของเรา และ/หรือไซต์
    <br>
    <br>• รายละเอียดบัญชีของคุณกับเว็บไซต์หรือแอปพลิเคชั่นของบุคคลภายนอกที่คุณได้เชื่อมต่อบัญชีผู้ใช้ของคุณกับเราผ่านทางไซต์
    <br>
    <br>•        ข้อมูลส่วนบุคคลที่คุณอาจให้แก่เราผ่านทางไซต์
    <br>
    <br>3.2    หากคุณไม่ประสงค์ให้เรา เก็บรวบรวม ข้อมูล/ข้อมูลส่วนบุคคลดังที่กล่าวมาข้างต้น คุณอาจยกเลิกได้ทุกเมื่อผ่านทางไซต์หรือโดยการแจ้งความประสงค์ให้เจ้าหน้าที่คุ้มครองข้อมูลของเราทราบเป็นลายลักษณ์อักษร คุณสามารถอ่านข้อมูลเพิ่มเติมเกี่ยวกับการยกเลิกได้ที่ส่วนด้านล่างในหัวข้อ “วิธีที่คุณสามารถยกเลิก ลบ ร้องขอการเข้าถึง หรือแก้ไขข้อมูลที่คุณให้แก่เรา” อย่างไรก็ตาม โปรดจำไว้ว่าการยกเลิกการเก็บรวบรวมข้อมูลส่วนบุคคลหรือถอนความยินยอมในการเก็บรวบรวม ใช้ แบ่งปัน หรือดำเนินการข้อมูลส่วนบุคคลของคุณกับเรานั้นอาจส่งผลต่อการใช้บริการของคุณ ตัวอย่างเช่น การยกเลิกการเก็บรวบรวมข้อมูลเกี่ยวกับตำแหน่งที่ตั้งจะเป็นการปิดใช้งานคุณลักษณะตามตำแหน่งที่ตั้ง
    <br>
    <br>3.3    เมื่อคุณใช้บัตรเครดิตเพื่อทำธุรกรรมบนไซต์ คุณกำลังให้ข้อมูลของคุณแก่ผู้ให้บริการภายนอก ในการเชื่อมต่อนั้นข้อมูลที่คุณได้ให้แก่ผู้ให้บริการภายนอกจะอยู่ภายใต้นโยบายความเป็นส่วนตัวที่เกี่ยวข้องของผู้ให้บริการภายนอกนั้น Playdigger ไม่อาจเข้าถึงข้อมูลเช่นว่านั้นและไม่ได้เก็บรวบรวมรายละเอียดบัตรเครดิตของคุณ
    <br>
    <br> 
    <br>
    <br>4.      <strong>การดูเว็บเพจ</strong>
    <br>
    <br>ในการเข้าถึงเว็บไซต์ส่วนใหญ่ด้วยอุปกรณ์ของคุณ อุปกรณ์ของคุณจะส่งข้อมูลซึ่งอาจมีข้อมูลส่วนบุคคลของคุณซึ่งจะถูกบันทึกไว้โดยเซิร์ฟเวอร์ของเว็บเมื่อคุณเรียกดูเว็บของเรา ซึ่งโดยทั่วไปจะรวมถึงแต่ไม่จำกัดเพียง ที่อยู่ IP ของคอมพิวเตอร์ ระบบปฏิบัติการ ชื่อ/เวอร์ชันของเบราว์เซอร์ เว็บเพจที่อ้าง หน้าที่ร้องขอ วันที่/เวลา และบางครั้งอาจรวมถึง "คุกกี้" (ซึ่งคุณสามารถปิดใช้งานได้โดยกำหนดลักษณะอุปกรณ์ของคุณ) เพื่อช่วยให้ไซต์จดจำการเข้าชมครั้งล่าสุดของคุณ เมื่อคุณเข้าสู่ระบบ ข้อมูลนี้จะเชื่อมโยงกับบัญชีผู้ใช้ของคุณ นอกจากนี้ข้อมูลนี้จะนำไปใช้ในเชิงสถิติที่ไม่ระบุชื่อเพื่อช่วยให้เราทำความเข้าใจเกี่ยวกับวิธีที่ผู้เยี่ยมชมใช้งานไซต์ของเรา
    <br>
    <br> 
    <br>
    <br>5.      <strong>คุกกี้</strong>
    <br>
    <br>6.1      เราอาจมีการใช้ “คุกกี้” หรือคุณลักษณะอื่นๆ ในบางคราวเพื่อช่วยให้เราหรือบุคคลภายนอกสามารถเก็บรวบรวมหรือแบ่งปันข้อมูล เพื่อช่วยเราปรับปรุงไซต์และบริการที่เรานำเสนอ หรือช่วยให้เรามอบบริการและคุณลักษณะใหม่ๆ ได้ “คุกกี้” คือตัวระบุต่างๆ ที่เราส่งไปยังอุปกรณ์ของคุณ เพื่อช่วยให้เราสามารถจดจำอุปกรณ์ของคุณ และบอกเกี่ยวกับวิธีและเวลาในการใช้หรือเยี่ยมชมบริการหรือไซต์ จำนวนผู้ใช้ และเพื่อติดตามความเคลื่อนไหวภายในไซต์ของเรา เราอาจเชื่อมโยงข้อมูลคุกกี้กับข้อมูลส่วนบุคคลของคุณ นอกจากนี้ คุกกี้ยังเชื่อมโยงกับข้อมูลเกี่ยวกับรายการที่คุณเลือกซื้อและบัญชีรายชื่อสินค้าที่คุณเข้าไปชมด้วย ตัวอย่างเช่น เราใช้ข้อมูลนี้เพื่อติดตามข้อมูลเกี่ยวกับรถเข็นสินค้าของคุณ นอกจากนี้ ยังมีการใช้คุกกี้เพื่อมอบเนื้อหาที่เหมาะสมกับความสนใจของคุณโดยเฉพาะ และเพื่อตรวจสอบการใช้งานไซต์
    <br>
    <br>5.2       คุณอาจปฏิเสธการใช้คุกกี้ได้โดยเลือกการตั้งค่าที่เหมาะสมในอุปกรณ์ของคุณ อย่างไรก็ดี โปรดจำไว้ว่าหากคุณปฏิเสธการใช้คุกกี้ คุณอาจไม่สามารถใช้ฟังก์ชันการทำงานของไซต์หรือบริการได้อย่างเต็มที่
    <br>
    <br> 
    <br>
    <br>6.      <strong>การดูและดาวน์โหลดเนื้อหาและโฆษณา</strong>
    <br>
    <br>เมื่อคุณท่องเว็บเพจต่างๆ โดยใช้อุปกรณ์ของคุณ ขณะที่คุณเข้าชมเนื้อหาและโฆษณาและเข้าใช้งานซอฟต์แวร์อื่นๆ บนไซต์ของเราหรือผ่านบริการ ข้อมูลเดียวกันส่วนใหญ่จะถูกส่งมาถึงเรา (รวมถึงแต่ไม่จำกัดเพียงที่อยู่ IP ระบบปฏิบัติการ ฯลฯ) แต่แทนที่จะส่งการเข้าชมหน้าต่างๆ ของคุณ คอมพิวเตอร์จะส่งข้อมูลเกี่ยวกับเนื้อหา การโฆษณาที่ดู และ/หรือซอฟต์แวร์ที่ติดตั้งโดยบริการและเว็บไซต์และเวลาให้แก่เรา
    <br>
    <br> 
    <br>
    <br>7.      <strong>ชุมชนและการสนับสนุน</strong>
    <br>
    <br>7.1        เราให้การสนับสนุนด้านการบริการลูกค้าผ่านอีเมล การส่งข้อความทางโซเชีบลเนตเวิร์ค Facebook ที่ https://www.facebook.com/playdiggerservice/ เพื่อให้การสนับสนุนลูกค้า เราจะขอที่อยู่อีเมลและหมายเลขติดต่อของคุณ เราใช้เพียงข้อมูลที่ได้รับจากลูกค้าที่ขอรับการสนับสนุน รวมถึงแต่ไม่จำกัดเพียง ที่อยู่อีเมล สำหรับการบริการสนับสนุนลูกค้า และเราจะไม่ส่งหรือแบ่งปันข้อมูลนี้กับบุคคลภายนอก
    <br>
    <br> 
    <br>
    <br>8.      <strong>การสำรวจ</strong>
    <br>
    <br>บางครั้ง เราอาจร้องขอข้อมูลจากผู้ใช้ผ่านการสำรวจต่างๆ การเข้าร่วมในการสำรวจเหล่านี้ขึ้นอยู่กับความสมัครใจทั้งสิ้น ดังนั้นคุณจึงสามารถเลือกได้ว่าจะเปิดเผยข้อมูลของคุณแก่เราหรือไม่ ข้อมูลที่ร้องขออาจรวมถึงแต่ไม่จำกัดเพียง ข้อมูลการติดต่อ (ได้แก่ ที่อยู่อีเมล) และข้อมูลทางประชากรศาสตร์ (ได้แก่ ความสนใจ หรือระดับอายุ) ข้อมูลที่ได้จากการสำรวจนี้จะนำมาใช้เพื่อตรวจสอบและปรับปรุงการใช้งานและความพึงพอใจในการบริการ และจะไม่ถูกส่งให้แก่บุคคลภายนอก ยกเว้น ผู้รับจ้างที่ช่วยเราในการบริหารจัดการและดำเนินการสำรวจ
    <br>
    <br> 
    <br>
    <br>9.    <strong>เรามีวิธีการใช้ข้อมูลที่คุณให้แก่เราอย่างไรบ้าง</strong>
    <br>
    <br>9.1  เราอาจเก็บรวบรวม ใช้ เปิดเผย และ/หรือดำเนินการข้อมูลส่วนบุคคลของคุณเพื่อวัตถุประสงค์อย่างน้อยหนึ่งวัตถุประสงค์ดังต่อไปนี้
    <br>
    <br>(ก)    เพื่อพิจารณาและ/หรือดำเนินการการยื่นเรื่อง/ธุรกรรมของคุณกับเรา หรือธุรกรรมหรือการติดต่อสื่อสารของคุณกับบุคคลภายนอกผ่านบริการ
    <br>
    <br>(ข)     เพื่อจัดการ ดำเนินการ ให้ และ/หรือบริหารการใช้งานของคุณและ/หรือเพื่อเข้าถึงบริการและเว็บไซต์ของเรา รวมถึงความสัมพันธ์และบัญชีผู้ใช้ของคุณกับเรา
    <br>
    <br>(ค)     เพื่อจัดการ ดำเนินการ บริหาร และจัดหาบริการแก่คุณ รวมถึงช่วยอำนวยความสะดวกในการจัดเตรียมบริการของเรา รวมถึงแต่ไม่จำกัดเพียง การจดจำความต้องการของคุณ
    <br>
    <br>(ง)     ปรับแต่งประสบการณ์ของคุณผ่านบริการโดยแสดงเนื้อหาตามความสนใจและความต้องการของคุณ พร้อมให้วิธีที่รวดเร็วในการเข้าถึงบัญชีของคุณและส่งข้อมูลมายังเรา ซึ่งช่วยให้เราสามารถติดต่อกับคุณได้หากจำเป็น
    <br>
    <br>(จ)     เมื่อคุณใช้แอปพลิเคชั่น เว็บไซต์หรือบริการอื่นของบุคคลภายนอกที่ใช้หรือรวมกับบริการของเรา บุคคลภายนอกนั้นอาจรับข้อมูลเกี่ยวกับสิ่งที่คุณโพสต์หรือแบ่งปัน
    <br>
    <br>(ฉ)     เพื่อตอบรับ ดำเนินการ จัดการ หรือทำธุรกรรมให้เสร็จสมบูรณ์ และ/หรือทำตามการร้องขอเกี่ยวกับผลิตภัณฑ์และบริการของคุณ และแจ้งให้คุณทราบเกี่ยวกับปัญหาด้านการบริการและการดำเนินการเกี่ยวกับบัญชี ที่มีความผิดปกติ
    <br>
    <br>(ช)    เพื่อบังคับใช้เงื่อนไขการให้บริการหรือข้อตกลงสิทธิ์การใช้งานสำหรับผู้ใช้ที่เกี่ยวข้อง
    <br>
    <br>(ซ)    เพื่อป้องกันความปลอดภัยและสิทธิ์ ทรัพย์สินส่วนบุคคล หรือความปลอดภัยของบุคคลอื่น
    <br>
    <br>(ฌ)    เพื่อระบุตัวตนและ/หรือการตรวจสอบความถูกต้อง
    <br>
    <br>(ญ)    เพื่อรักษาและควบคุมการอัปเดตซอฟต์แวร์และ/หรือการอัปเดตอื่นๆ และให้การสนับสนุนที่จำเป็นในบางคราวเพื่อให้แน่ใจว่าบริการของเราจะเป็นไปอย่างราบรื่น
    <br>
    <br>(ฎ)    เพื่อจัดการหรืออำนวยความสะดวกในการให้บริการลูกค้า ปฏิบัติตามคำสั่งของคุณ จัดการหรือตอบข้อซักถามที่ได้รับ (หรืออ้างว่าได้รับ) จากคุณหรือในนามของคุณ
    <br>
    <br>(ฏ)     เพื่อติดต่อหรือสื่อสารกับคุณผ่านการโทรด้วยเสียง ข้อความ และ/หรือข้อความแฟกซ์ อีเมล และ/หรือการส่งไปรษณีย์ หรือในรูปแบบอื่นใด เพื่อวัตถุประสงค์ในการบริหารและ/หรือจัดการความสัมพันธ์ระหว่างคุณกับเราหรือการใช้บริการของเรา เช่นว่าแต่ไม่จำกัดเพียง การสื่อสารข้อมูลด้านการจัดการที่เกี่ยวเนื่องกับบริการของเรากับคุณ คุณรับทราบและยอมรับว่าการสื่อสารดังกล่าวของเรานั้นอาจเป็นด้วยวิธีการส่งจดหมายโต้ตอบ เอกสารหรือการแจ้งประกาศแก่คุณ ซึ่งอาจเกี่ยวข้องกับการเปิดเผยข้อมูลส่วนบุคคลของคุณบางประการบนหน้าซอง/หีบห่อจดหมายด้านนอก เพื่อการจัดส่งสิ่งดังกล่าว
    <br>
    <br>(ฐ)     เพื่อแจ้งให้คุณทราบเมื่อผู้ใช้คนอื่นส่งข้อความส่วนตัวหรือโพสต์ความคิดเห็นให้คุณบนไซต์
    <br>
    <br>(ฑ)    เพื่อ ดำเนินการศึกษาวิจัย วิเคราะห์ และพัฒนากิจกรรมต่างๆ (รวมถึงแต่ไม่จำกัดเพียง การวิเคราะห์ข้อมูล การสำรวจ การพัฒนาผลิตภัณฑ์และบริการ และ/หรือ การทำแฟ้มประวัติ) เพื่อ วิเคราะห์การใช้บริการ  เพื่อนำไปปรับปรุงบริการหรือผลิตภัณฑ์ของเรา และ/หรือช่วยเสริมประสบการณ์ของลูกค้า
    <br>
    <br>(ฒ)    เพื่อให้สามารถตรวจสอบและทำการสำรวจและอื่นๆ เพื่อตรวจสอบขนาดและองค์ประกอบของกลุ่มเป้าหมายของเรา และทำความเข้าใจเกี่ยวกับประสบการณ์ที่ลูกค้าได้รับจากบริการของ Playdigger
    <br>
    <br>(ด)    เพื่อตอบสนองต่อกระบวนการทางกฎหมาย หรือปฏิบัติตามหรือเป็นไปตามกฎหมายที่บังคับใช้ ข้อกำหนดของภาครัฐหรือตามกฎข้อบังคับภายใต้อำนาจการพิจารณาที่เกี่ยวข้อง รวมถึงแต่ไม่จำกัดเพียง การดูแลให้เป็นไปตามข้อกำหนดเพื่อทำให้การเปิดเผยข้อมูลนั้นเป็นไปตามข้อกำหนดของกฎหมายที่ Playdigger ต้องปฏิบัติตาม
    <br>
    <br>(ต)     เพื่อจัดทำข้อมูลสถิติและงานวิจัยเพื่อการรายงานภายในองค์กรและตามกฎหมาย และ/หรือตามข้อกำหนดเกี่ยวกับการจัดเก็บบันทึก
    <br>
    <br>(ถ)     เพื่อปฏิบัติตามขั้นตอนการตรวจสอบประวัติความเป็นมาทางธุรกิจหรือกิจกรรมการคัดกรองอื่นใด (รวมถึงแต่ไม่จำกัดเพียง การตรวจสอบประวัติความเป็นมา) ซึ่งเป็นไปตามข้อผูกพันทางกฎหมายหรือตามกฎข้อบังคับ หรือกระบวนการจัดการความเสี่ยงของเราซึ่งกฎหมายได้กำหนดไว้หรือที่เราได้เป็นผู้นำมาใช้
    <br>
    <br>(ท)     เพื่อตรวจสอบบริการของเราหรือ ธุรกิจของ Playdigger
    <br>
    <br>(รวมเรียกว่า “วัตถุประสงค์”)
    <br>
    <br>9.2  เนื่องจากวัตถุประสงค์ที่เราจะเก็บรวบรวม ใช้ เปิดเผย และ/หรือดำเนินการข้อมูลส่วนบุคคลของคุณขึ้นอยู่กับสถานการณ์เฉพาะหน้า วัตถุประสงค์ดังกล่าวอาจไม่ปรากฎในข้างต้น อย่างไรก็ตาม เราจะแจ้งให้คุณทราบถึงวัตถุประสงค์ดังกล่าว ณ เวลาที่ขอรับความยินยอมจากคุณ เว้นแต่การดำเนินการข้อมูลที่เกี่ยวข้องโดยไม่ได้รับความยินยอมจากคุณนั้นเป็นไปตามที่กฎหมายเกี่ยวกับการคุ้มครองข้อมูลส่วนบุคคลกำหนดไว้
    <br>
    <br> 
    <br>
    <br>10.    <strong>Playdigger คุ้มครองข้อมูลส่วนบุคคลของลูกค้าอย่างไรบ้าง</strong>
    <br>
    <br>เรานำมาตรการด้านความปลอดภัยต่างๆ มาใช้เพื่อให้แน่ใจว่าข้อมูลส่วนบุคคลของคุณที่อยู่ในระบบของเรานั้นมีความปลอดภัย ข้อมูลส่วนบุคคลของผู้ใช้จะถูกเก็บไว้ในเครือข่ายที่มีความปลอดภัย และสามารถเข้าถึงได้โดยพนักงานจำนวนจำกัดเท่านั้น ซึ่งจะเป็นบุคคลที่มีสิทธิพิเศษในการเข้าถึงระบบดังกล่าว เราจะรักษาข้อมูลส่วนบุคคลของคุณตามกฎหมายเกี่ยวกับการคุ้มครองข้อมูลส่วนบุคคลและ/หรือกฎหมายอื่นที่เกี่ยวข้อง ซึ่งเราจะทำลายหรือไม่ระบุชื่อข้อมูลส่วนบุคคลของคุณทันทีที่มีเหตุผลอันเชื่อได้ว่า (i) วัตถุประสงค์ของการเก็บรวบรวมข้อมูลส่วนบุคคลนั้นไม่ตรงกับการรักษาข้อมูลส่วนบุคคลดังกล่าวไว้อีกต่อไป และ (ii) ไม่จำเป็นต้องรักษาข้อมูลส่วนบุคคลดังกล่าวเพื่อวัตถุประสงค์ทางกฎหมายหรือธุรกิจอีกต่อไป หากคุณหยุดการใช้งานไซต์ หรือสิทธิการใช้งานไซต์และ/หรือบริการของคุณสิ้นสุดลง เราอาจจัดเก็บ ใช้ และ/หรือเปิดเผยข้อมูลส่วนบุคคลต่อไปได้ตามกฎหมายเกี่ยวกับการคุ้มครองข้อมูลส่วนบุคคลและข้อผูกพันของเราภายใต้กฎหมายเกี่ยวกับการคุ้มครองข้อมูลส่วนบุคคลนี้ ภายใต้กฎหมายที่บังคับใช้ เราอาจทำลายข้อมูลส่วนบุคคลของคุณอย่างปลอดภัยโดยไม่ต้องแจ้งให้ทราบล่วงหน้า
    <br>
    <br> 
    <br>
    <br>11. <strong>การปฏิเสธความรับผิดชอบเกี่ยวกับความปลอดภัยและไซต์ของบุคคลภายนอก</strong>
    <br>
    <br>11.1 เราไม่รับประกันว่าข้อมูลส่วนบุคคลและ/หรือข้อมูลอื่นที่คุณให้แก่ไซต์ของบุคคลภายนอกจะมีความปลอดภัย เรานำมาตรการด้านความปลอดภัยต่างๆ มาใช้เพื่อรักษาความปลอดภัยให้กับข้อมูลส่วนบุคคลของคุณซึ่งอยู่ในความครอบครองหรือควบคุมของเรา ข้อมูลส่วนบุคคลของผู้ใช้จะถูกเก็บไว้ในเครือข่ายที่มีความปลอดภัย และสามารถเข้าถึงได้โดยพนักงานจำนวนจำกัดเท่านั้น ซึ่งจะเป็นบุคคลที่มีสิทธิพิเศษในการเข้าถึงระบบดังกล่าว และต้องปกป้องข้อมูลส่วนบุคคลที่เป็นความลับ เมื่อคุณส่งคำสั่งซื้อหรือเข้าถึงข้อมูลส่วนบุคคลของคุณ เราขอเสนอให้ใช้เซิร์ฟเวอร์ที่มีความปลอดภัย ข้อมูลส่วนบุคคลหรือข้อมูลที่ละเอียดอ่อนทั้งหมดที่คุณให้นั้นจะถูกนำไปเข้ารหัสไว้ในฐานข้อมูลของเราเพื่อให้เข้าถึงได้เฉพาะตามที่ระบุข้างต้นเท่านั้น
    <br>
    <br>11.2  ด้วยความพยายามที่จะเพิ่มประโยชน์ให้แก่คุณ เราอาจเลือกเว็บไซต์ของบุคคลภายนอกต่างๆ ที่จะเชื่อมโยงหรือติดตั้งภายในไซต์ เรายังอาจเข้าร่วมในการพัฒนาแบรนด์ร่วมหรือสร้างความสัมพันธ์อื่นใด เพื่อนำเสนอธุรกรรมอีคอมเมิร์ซ และ/หรือบริการและคุณลักษณะอื่นๆ แก่ผู้เข้าชม ไซต์ที่เชื่อมโยงเหล่านี้จะมีนโยบายความเป็นส่วนตัวและการจัดการด้านความปลอดภัยแยกต่างหากแบบอิสระ แม้ว่าบุคคลภายนอกจะมีความเกี่ยวข้องกับเรา แต่เราไม่มีสิทธิในการควบคุมไซต์ที่เชื่อมโยงเหล่านี้ได้ เนื่องจากแต่ละไซต์จะมีข้อปฏิบัติด้านความเป็นส่วนตัวและการเก็บรวบรวมข้อมูลแยกต่างหากเป็นอิสระจากเรา ข้อมูลที่รวบรวมขึ้นจากหุ้นส่วนที่มีแบรนด์ร่วมกับเราหรือเว็บไซต์ของบุคคลภายนอก (แม้ว่าจะนำเสนอในหรือผ่านเว็บไซต์ของเรา) อาจไม่ได้รับมาจากเรา
    <br>
    <br>11.3  ดังนั้นเราจึงไม่ต้องรับผิดชอบหรือรับผิดในเนื้อหา การจัดการด้านความปลอดภัย (หรือการไม่ได้รับความปลอดภัย) และกิจกรรมต่างๆ ของไซต์ที่เชื่อมโยงเหล่านี้ ไซต์ที่เชื่อมโยงเหล่านี้มีไว้เพื่อความสะดวกของคุณ และให้คุณเข้าใช้งานด้วยความรับผิดชอบของคุณเอง อย่างไรก็ตาม เราต้องการปกป้องความสมบูรณ์ของไซต์และลิงก์ที่อยู่ในแต่ละไซต์ของเรา และรับฟังข้อคิดเห็นเกี่ยวกับไซต์ที่เชื่อมโยงเหล่านี้ (รวมถึงแต่ไม่จำกัดเพียง หากลิงก์เฉพาะไม่ทำงาน)
    <br>
    <br> 
    <br>
    <br>12.    <strong>Playdigger จะถ่ายโอนข้อมูลของคุณไปต่างประเทศหรือไม่</strong>
    <br>
    <br>ข้อมูลส่วนบุคคลและ/หรือข้อมูลของคุณอาจถูกถ่ายโอน จัดเก็บ หรือดำเนินการภายนอกประเทศ โดยส่วนใหญ่ ข้อมูลส่วนบุคคลของคุณจะถูกนำไปดำเนินการประมวลผลในประเทศสิงคโปร์ ซึ่งเป็นที่ตั้งของเซิร์ฟเวอร์และฐานข้อมูลส่วนกลางของเรา Playdigger จะถ่ายโอนข้อมูลของคุณไปยังต่างประเทศตามกฎหมายเกี่ยวกับการคุ้มครองข้อมูลส่วนบุคคลเท่านั้น
    <br>
    <br> 
    <br>
    <br>13.    <strong>วิธีที่คุณสามารถยกเลิก ลบ ร้องขอการเข้าถึง หรือแก้ไขข้อมูลที่คุณให้แก่เรา</strong>
    <br>
    <br>13.1  การยกเลิกและถอนความยินยอม
    <br>
    <br>13.1.1 หากคุณต้องการเปลี่ยนแปลงแก้ไขการสมัครใช้งานทางอีเมล โปรดแจ้งให้เราทราบโดยการส่งอีเมลไปที่ เจ้าหน้าที่คุ้มครองข้อมูลส่วนบุคคลของเรา ตามที่อยู่ที่แสดงไว้ด้านล่าง โปรดจำไว้ว่าเนื่องจากเรามีกำหนดการในการจัดทำอีเมล คุณอาจยังได้รับอีเมลที่อยู่ในระหว่างการจัดทำแล้ว
    <br>
    <br>13.1.2 คุณอาจถอนความยินยอมของคุณเกี่ยวกับการเก็บรวบรวม ใช้ และ/หรือเปิดเผยข้อมูลส่วนบุคคลของคุณซึ่งอยู่ในครอบครองหรือควบคุมของเราได้ โดยการส่งอีเมลไปที่ เจ้าหน้าที่คุ้มครองข้อมูลส่วนบุคคลของเรา ตามที่อยู่อีเมลที่แสดงไว้ด้านล่างในส่วน 19.2
    <br>
    <br>13.1.3 เมื่อเราได้รับคำสั่งเกี่ยวกับการถอนเป็นลายลักษณ์อักษรอย่างชัดเจนจากคุณและตรวจสอบข้อมูลประจำตัวของคุณแล้ว เราจะดำเนินการตามคำขอในการถอนความยินยอม และหลังจากนั้นเราจะไม่เก็บรวบรวม ใช้ และ/หรือเปิดเผยข้อมูลส่วนบุคคลของคุณในลักษณะตามที่ระบุไว้ในการร้องขอของคุณ หากเราไม่สามารถตรวจสอบข้อมูลประจำตัวหรือไม่เข้าใจคำสั่งของคุณ เราจะติดต่อเพื่อขอคำอธิบายเกี่ยวกับการร้องขอดังกล่าว
    <br>
    <br>13.1.4        อย่างไรก็ตาม การถอนความยินยอมอาจทำให้เกิดผลอันเกิดจากการถอนดังกล่าวได้ ในเรื่องดังกล่าวนี้  ขึ้นอยู่กับขอบเขตของการถอนความยินยอมที่จะให้เราดำเนินการกับข้อมูลส่วนบุคคลของคุณ และนั่นอาจหมายความว่าเราจะไม่สามารถให้บริการแก่คุณต่อไปได้ เราจึงอาจต้องยุติความสัมพันธ์ที่มีอยู่และ/หรือสัญญาที่คุณมีกับเรา ฯลฯ แล้วแต่ว่าจะเป็นกรณีใด ซึ่งเราจะแจ้งให้คุณทราบ
    <br>
    <br>13.2  การร้องขอการเข้าถึงและ/หรือการแก้ไขข้อมูลส่วนบุคคล
    <br>
    <br>13.2.1        หากคุณมีบัญชีกับเรา คุณอาจเข้าถึงและ/หรือแก้ไขข้อมูลส่วนบุคคลของคุณซึ่งอยู่ในครอบครองหรือควบคุมของเราได้ด้วยตนเองผ่านหน้าการตั้งค่าบัญชีที่อยู่ในไซต์ หากคุณไม่มีบัญชีกับเรา เราจะไม่มีข้อมูลส่วนบุคคลของคุณ
    <br>
    <br>13.2.2        สำหรับการร้องขอเพื่อเข้าถึงข้อมูลส่วนบุคคล เมื่อเรามีข้อมูลของคุณอย่างเพียงพอที่จะดำเนินการแล้ว เราจะให้ข้อมูลส่วนบุคคลที่เกี่ยวข้องแก่คุณภายใน 30 วัน (หรือหากคุณพำนักอยู่ในประเทศมาเลเซียจะใช้เวลา 21 วัน) หากเราไม่สามารถตอบสนองการร้องขอของคุณภายใน 30 วันดังกล่าว (หรือหากคุณพำนักอยู่ในประเทศมาเลเซียจะใช้เวลา 21 วัน) เราจะแจ้งให้คุณทราบเกี่ยวกับระยะเวลาที่เร็วที่สุดที่เราสามารถให้ข้อมูลที่คุณร้องขอได้ โปรดจำไว้ว่ากฎหมายเกี่ยวกับการคุ้มครองข้อมูลส่วนบุคคลอาจยกเว้นข้อมูลส่วนบุคคลบางประเภทจากการร้องขอการเข้าใช้งานของคุณ
    <br>
    <br>13.2.3        สำหรับการร้องขอเพื่อแก้ไขข้อมูลส่วนบุคคล เมื่อเรามีข้อมูลของคุณเพียงพอที่จะดำเนินการแล้ว เราจะ:
    <br>
    <br>(a)     แก้ไขข้อมูลส่วนบุคคลของคุณภายใน 30 วัน (หรือหากคุณพำนักอยู่ในประเทศมาเลเซียจะใช้เวลา 21 วัน) หากเราไม่สามารถแก้ไขได้ภายในระยะเวลาดังกล่าว เราจะแจ้งให้คุณทราบเกี่ยวกับระยะเวลาการดำเนินการแก้ไขที่เร็วที่สุด โปรดจำไว้ว่ากฎหมายเกี่ยวกับการคุ้มครองข้อมูลส่วนบุคคลอาจยกเว้นข้อมูลส่วนบุคคลบางประเภทจากการร้องขอเพื่อให้แก้ไข รวมถึงระบุเวลาที่จำเป็นต้องได้รับการแก้ไขจากเราในสถานการณ์ (ต่างๆ) แม้ว่าจะคุณจะร้องขอมาก็ตาม และ
    <br>
    <br>(b) เราจะส่งข้อมูลส่วนบุคคลที่ถูกแก้ไขไปยังทุกองค์กรซึ่งเราได้เปิดเผยข้อมูลส่วนบุคคลให้ทราบภายในระยะเวลาหนึ่งปีก่อนวันที่ทำการแก้ไข เว้นแต่องค์กรนั้นไม่ต้องการข้อมูลส่วนบุคคลที่แก้ไขแล้วเพื่อวัตถุประสงค์ทางกฎหมายหรือธุรกิจ
    <br>
    <br>13.2.4        โดยไม่ต้องพิจารณาถึงย่อหน้าย่อย (b) ข้างต้น หากคุณร้องขอ เราอาจส่งข้อมูลส่วนบุคคลที่แก้ไขไปให้แก่องค์หนึ่งองค์กรใดโดยเฉพาะซึ่งเราได้เปิดเผยข้อมูลส่วนบุคคลให้ทราบ ภายในระยะเวลาหนึ่งปีก่อนวันที่ทำการแก้ไข
    <br>
    <br>13.2.5 ภายใต้ขอบเขตที่อนุญาตโดยกฎหมายเราอาจคิดค่าธรรมเนียมตามสมควรสำหรับการดำเนินการและจัดการคำร้องของคุณในการเข้าถึงข้อมูลส่วนบุคคล หากเราเลือกที่จะคิดค่าธรรมเนียม เราจะแจ้งค่าธรรมเนียมโดยประมาณเป็นลายลักษณ์อักษรให้แก่คุณ โปรดจำไว้ว่าเราไม่จำเป็นต้องตอบสนองหรือดำเนินการใดๆ ต่อคำร้องขอการเข้าถึงข้อมูลของคุณเว้นแต่คุณตกลงที่จะจ่ายค่าธรรมเนียม
    <br>
    <br>13.2.6 เราสงวนสิทธิ์ที่จะปฏิเสธการแก้ไขข้อมูลส่วนบุคคลของคุณตามข้อกำหนดที่ระบุไว้ในกฎหมายเกี่ยวกับการคุ้มครองข้อมูลส่วนบุคคล ซึ่งข้อกำหนดระบุและ/หรือให้สิทธิองค์กรที่จะปฏิเสธการแก้ไขข้อมูลส่วนบุคคลในสถานการณ์ที่ระบุไว้
    <br>
    <br> 
    <br>
    <br>14.    <strong>ข้อกำหนดและเงื่อนไข</strong>
    <br>
    <br>โปรดอ่านเงื่อนไขการให้การบริการที่ระบุถึงการใช้งาน การปฏิเสธความรับผิดชอบ และข้อจำกัดการรับผิดที่ควบคุมการใช้งานไซต์และบริการ รวมถึงนโยบายที่เกี่ยวข้องอื่นๆ
    <br>
    <br>
    <br>
    <br>
    <br> <strong>ปรับปรุงครั้งล่าสุดเมื่อวันที่ 2 มีนาคม พ.ศ. 2561</strong></span>
  </div>
</div>

