<div id='term_container'>
  <div id='term_wrapper'>
    <div id='term_header'>
      <span>นโยบายการคืนเงินและคืนสินค้าหรือบริการ</span>
    </div>
    <span>1. <strong>การยื่นคำร้องขอคืนคืนเงิน</strong>
    <br>
    <br>ผู้ซื้อสามารถยื่นคำร้องขอคืนสินค้าหรือบริการที่ซื้อ (“สินค้า” “เครดิต” หรือ “บริการ”) โดยเป็นไปตามข้อกำหนดและเงื่อนไขการให้บริการ
    <br>
    <br>2. <strong>การยื่นคำร้องขอคืนสินค้าหรือบริการ</strong>
    <br>
    <br>ผู้ซื้อสามารถยื่นคำร้องขอคืนเงินและ/หรือคืนสินค้าหรือบริการในสถานการณ์ต่อไปนี้เท่านั้น
    <br>
    <br>    ผู้ซื้อไม่สามารถใช้แพลตฟอร์ม Playdigger ได้
    <br>    ผู้ซื้อไม่ได้รับสินค้าหรือบริการ
    <br>
    <br>จะต้องส่งคำร้องของผู้ซื้อผ่านทางการส่งข้อความทางโซเชีบลเนตเวิร์ค Facebook ที่ https://www.facebook.com/playdiggerservice/ หรือทางอีเมล contact.playdigger@gmail.com
    <br>
    <br>Playdigger (เรียกแยกและเรียกรวมกันว่า “Playdigger”, “เรา”, “พวกเรา” หรือ “ของเรา”) จะตรวจสอบคำร้องของผู้ซื้อแต่ละคนแบบเป็นกรณีๆ ไป และจะตัดสินใจว่าควรดำเนินการตามคำร้องของผู้ซื้อหรือไม่ โดยใช้ดุลยพินิจของตนแต่เพียงผู้เดียว
    <br>
    <br>3. <strong>การคืนเงิน</strong>
    <br>
    <br>3.1 ผู้ซื้อจะได้รับเงินคืนหลังจากที่ Playdigger ได้ตรวจสอบแล้วว่าผู้ใช้ไม่สามารถใช้แพลตฟอร์ม Playdigger หรือได้รับบริการที่ทำการสั่งซื้อไปแล้ว
    <br>
    <br>3.2 Playdigger ขอสงวนสิทธิ์ในการคืนเงินไม่เต็มจำนวนอันขึ้นเงื่อนไขดังต่อไปนี้
    <br>
    <br>3.2.1 ช่องทางในการเติมเงินที่ผู้ใช้ได้ใช้ในการเติมเงินซึ่งในแต่ละช่องทางจะมีการหักค่าบริการออกไป ซึ่ง Playdigger จะเป็นผู้ใช้ดุลยพินิจจำนวนในการคืนเงินแต่เพียงผู้เดียว โดยเงินคืนขั้นต่ำสุดคือร้อยละ 85 ของจำนวนเงินทั้งหมดที่ผู้ใช้เติมเงินเข้ามาในระบบ
    <br>
    <br>3.2.2 จำนวนเงินคืนจะถูกหักออกในกรณีที่เราตรวจสอบว่าผู้ใช้ได้ใช้บริการไปแล้วจากเครดิตที่ทำการเติมเงินเข้าไปในระบบทั้งหมด ซึ่ง Playdigger จะเป็นผู้ใช้ดุลยพินิจจำนวนในการคืนเงินแต่เพียงผู้เดียว</span>
  </div>
</div>

