<div id='term_container'>
  <div id='term_wrapper'>
    <div id='term_header'>
      <span>เงื่อนไขการให้บริการ</span>
    </div>
    <span>1.            <strong>บทนำ</strong>
    <br>
    <br>1.1          ขอต้อนรับสู่แพลตฟอร์ม (“ไซต์”) โปรดอ่านเงื่อนไขการให้บริการต่อไปนี้อย่างละเอียดก่อนใช้ไซต์นี้หรือเปิดบัญชี Playdigger (“บัญชี”) เพื่อที่คุณจะได้ทราบถึงสิทธิและข้อผูกพันตามกฎหมายของคุณอันเกี่ยวเนื่องกับแพลตฟอร์ม Playdigger (เรียกแยกและเรียกรวมกันว่า “Playdigger”, “เรา”, “พวกเรา” หรือ “ของเรา”) “บริการ” ที่เราจัดไว้ให้หรือทำให้ใช้งานได้รวมถึง (ก) ไซต์ (ข) บริการที่จัดไว้ให้โดยไซต์และโดยซอฟต์แวร์ไคลเอ็นต์ Playdigger ที่ทำให้ใช้งานได้ผ่านทางไซต์ และ (ค) ข้อมูลข่าวสารทั้งหมด หน้าที่เชื่อมโยง คุณสมบัติ ข้อมูล ข้อความสั้นๆ รูปภาพ หรือวัสดุอื่นๆ ที่ทำให้ใช้งานได้ผ่านทางไซต์หรือบริการที่เกี่ยวข้องกับไซต์ ("เนื้อหา") คุณสมบัติใหม่ใดๆ ที่เพิ่มไปยังหรือเสริมให้กับบริการจะอยู่ภายใต้เงื่อนไขการให้บริการนี้ด้วยเช่นกัน เงื่อนไขการให้บริการนี้จะควบคุมการใช้บริการของคุณซึ่งจัดไว้ให้โดย Playdigger
    <br>
    <br>1.2          บริการที่ให้บริการสำหรับการโหวต (“ขุด”) ระหว่างผู้ใช้ (“ผู้ใช้”) และแพลตฟอร์ม Playserver (“แพลตฟอร์มเป้าหมายของการบริการ”) และ Playdigger ไม่ได้มีความเกี่ยวข้องทางสัญญาใดๆกับแพลตฟอร์ม Playserver
    <br>
    <br>1.3          ก่อนที่จะเป็นสมาชิกของไซต์ คุณจะต้องอ่านและยอมรับข้อกำหนดและเงื่อนไขทั้งหมดใน และที่เชื่อมโยงกับ เงื่อนไขการให้บริการนี้ และคุณจะต้องยินยอมรับการดำเนินการข้อมูลส่วนบุคคลของคุณดังที่อธิบายไว้ในนโยบายความเป็นส่วนตัวซึ่งมีลิงก์ไว้ในที่นี้          
    <br>
    <br>1.4          Playdigger สงวนสิทธิ์ในการเปลี่ยนแปลง ดัดแปลง ระงับ หรือยกเลิกไซต์นี้หรือบริการทั้งหมดหรือบางส่วนได้ตลอดเวลา  Playdigger อาจออกบริการบางอย่างหรือคุณสมบัติของบริการในรุ่นเบต้า ซึ่งอาจไม่ทำงานอย่างถูกต้อง หรือในลักษณะเดียวกันกับที่รุ่นสุดท้ายอาจทำงาน และเราจะไม่รับผิดในสถานการณ์ดังกล่าว Playdigger ยังอาจกำหนดขอบเขตสำหรับคุณสมบัติบางอย่าง หรือจำกัดการเข้าถึงบางส่วนหรือทั้งหมดของไซต์หรือบริการโดยใช้ดุลยพินิจของตัวเองแต่เพียงผู้เดียว และโดยไม่ต้องแจ้งหรือรับผิด
    <br>
    <br>1.5          Playdigger สงวนสิทธิ์ในการปฏิเสธที่จะให้คุณเข้าถึงไซต์หรือบริการ หรือปฏิเสธที่จะอนุญาตให้คุณเปิดบัญชีไม่ว่าด้วยเหตุผลใดก็ตาม
    <br>
    <br>โดยการใช้บริการหรือเปิดบัญชี Playdigger คุณได้ให้การยอมรับและความยินยอมที่เพิกถอนไม่ได้ต่อข้อตกลงนี้ รวมถึงข้อกำหนด เงื่อนไขและนโยบายเพิ่มเติมที่อ้างถึงในที่นี่และ/หรือมีลิงก์ไว้ในที่นี้
    <br>
    <br>หากคุณไม่เห็นด้วยกับข้อตกลงนี้ โปรดงดใช้บริการหรือเข้าถึงไซต์ของเรา หากคุณอายุต่ำกว่า 18 ปีหรือยังไม่บรรลุนิติภาวะที่จะให้คำยินยอมต่อข้อกำหนดนี้ตามกฎหมายที่เกี่ยวข้องในประเทศของคุณ  (“นิติภาวะ”) คุณจะต้องขออนุญาตจากพ่อแม่หรือผู้ปกครองตามกฎหมายเพื่อเปิดบัญชี และพ่อแม่หรือผู้ปกครองตามกฎหมายดังกล่าวต้องเห็นด้วยกับข้อกำหนดของข้อตกลงนี้ หากคุณไม่ทราบว่าคุณบรรลุนิติภาวะแล้วหรือยัง หรือไม่เข้าใจความในข้อนี้ โปรดอย่าสร้างบัญชีจนกว่าจะได้ขอความช่วยเหลือจากพ่อแม่หรือผู้ปกครองตามกฎหมายแล้ว หากคุณคือพ่อแม่หรือผู้ปกครองตามกฎหมายของผู้เยาว์ที่กำลังสร้างบัญชี คุณจะต้องยอมรับข้อกำหนดของข้อตกลงนี้แทนผู้เยาว์และคุณจะต้องรับผิดชอบต่อการใช้งานบัญชีหรือบริการของ Playdigger ทั้งหมดจากการใช้บัญชีดังกล่าว ไม่ว่าบัญชีดังกล่าวจะเปิดอยู่แล้วในขณะนี้หรือสร้างในภายหลังก็ตาม
    <br>
    <br> 
    <br>
    <br>2.            <strong>ความเป็นส่วนตัว</strong>
    <br>
    <br>2.1          ความเป็นส่วนตัวของคุณมีความสำคัญมากสำหรับ Playdigger เพื่อให้คุ้มครองสิทธิของคุณได้ดีขึ้น เราจึงได้จัดทำนโยบายความเป็นส่วนตัวของ Playdigger.com เพื่ออธิบายแนวทางปฏิบัติด้านความเป็นส่วนตัวในรายละเอียด โปรดอ่านนโยบายความเป็นส่วนตัวนี้เพื่อให้เข้าใจว่า Playdigger เก็บรวบรวมและใช้ข้อมูลที่เกี่ยวกับบัญชีของคุณและ/หรือการใช้งานบริการของคุณอย่างไร โดยการใช้บริการหรือให้ข้อมูลทางไซต์ คุณยินยอมให้ Playdigger เก็บรวบรวม ใช้งาน หรือดำเนินการกับเนื้อหาและข้อมูลส่วนบุคคลของคุณตามที่อธิบายไว้ในนโยบายความเป็นส่วนตัว
    <br>
    <br> 
    <br>
    <br>3.            <strong>ซอฟต์แวร์</strong>
    <br>
    <br>ซอฟต์แวร์ที่เราจัดไว้ให้คุณเป็นส่วนหนึ่งของบริการนี้ อยู่ภายใต้ข้อกำหนดของเงื่อนไขการให้บริการนี้ Playdigger สงวนสิทธิ์ทั้งหมดต่อซอฟต์แวร์ที่ไม่ได้อนุญาตไว้อย่างชัดแจ้งโดย Playdigger ในที่นี้ สคริปต์หรือรหัสของบุคคลภายนอก ที่เชื่อมโยงไปยังหรืออ้างถึงจากบริการ บุคคลภายนอกที่เป็นเจ้าของสคริปต์หรือรหัสดังกล่าวเป็นผู้มอบสิทธิ์การใช้งานให้แก่คุณ ไม่ใช่มอบให้โดย Playdigger
    <br>
    <br> 
    <br>
    <br>4.            <strong>บัญชีและความปลอดภัย</strong>
    <br>
    <br>4.1          การทำงานบางอย่างของบริการของเราต้องมีการลงทะเบียนบัญชีโดยเลือกรหัสประจำตัวผู้ใช้ที่ไม่ซ้ำกัน ("ID ผู้ใช้") และรหัสผ่าน และโดยการให้ข้อมูลส่วนบุคคลบางอย่าง หากคุณเลือก ID ผู้ใช้ ที่ตามดุลยพินิจแต่เพียงผู้เดียวของ Playdigger เห็นว่า สร้างความขุ่นเคืองหรือไม่เหมาะสม Playdigger มีสิทธิที่จะระงับหรือยกเลิกบัญชีของคุณได้ คุณอาจสามารถใช้บัญชีเพื่อเข้าถึงผลิตภัณฑ์ เว็บไซต์ หรือบริการอื่นๆ ซึ่งเราอนุญาตให้เข้าถึงได้ หรือที่เชื่อมโยงกันหรือทำงานร่วมกัน Playdigger ไม่ได้ตรวจสอบ และไม่รับผิดชอบต่อเนื้อหาของบุคคลภายนอก ฟังก์ชั่นการทำงาน ความปลอดภัย บริการ นโยบายความเป็นส่วนตัว หรือการปฏิบัติอื่นๆ ของผลิตภัณฑ์ เว็บไซต์ หรือบริการเหล่านั้น  หากคุณกระทำการดังกล่าว เงื่อนไขการให้บริการของผลิตภัณฑ์ เว็บไซต์ หรือบริการเหล่านั้น รวมถึงนโยบายความเป็นส่วนตัวที่เกี่ยวข้อง หากแตกต่างจากเงื่อนไขการให้บริการและ/หรือนโยบายความเป็นส่วนตัวของเรา อาจบังคับใช้กับการใช้ผลิตภัณฑ์ เว็บไซต์ หรือบริการเหล่านั้นของคุณ
    <br>
    <br>4.2          คุณตกลงที่จะ (ก) เก็บรักษารหัสผ่านไว้เป็นความลับและใช้เฉพาะ ID ผู้ใช้และรหัสผ่านของคุณเมื่อเข้าสู่ระบบ (ข) ตรวจสอบให้แน่ใจว่าคุณออกจากระบบบัญชีเมื่อสิ้นสุดแต่ละเซสชันบนไซต์ (ค) แจ้ง Playdigger ทันทีหากมีการใช้บัญชี ID ผู้ใช้ และ/หรือรหัสผ่านของคุณโดยไม่ได้รับอนุญาต (ง) ตรวจสอบให้แน่ใจว่าข้อมูลบัญชีของคุณถูกต้องและเป็นปัจจุบันอยู่เสมอ คุณต้องรับผิดชอบอย่างเต็มที่ต่อกิจกรรมทั้งหมดที่เกิดขึ้นภายใต้ ID ผู้ใช้และบัญชีของคุณ แม้ว่าคุณจะไม่ได้ทำกิจกรรมหรือทำการใช้งานดังกล่าวก็ตาม Playdigger จะไม่รับผิดต่อความสูญเสียหรือความเสียหายที่เกิดจากการใช้รหัสผ่านของคุณโดยไม่ได้อนุญาต หรือการที่คุณไม่สามารถปฏิบัติตามความในส่วนนี้
    <br>
    <br>4.3          คุณตกลงว่า Playdigger อาจ ไม่ว่าด้วยเหตุผลใดและตามดุลยพินิจแต่เพียงผู้เดียวของตน และโดยไม่ต้องแจ้งหรือรับผิดต่อคุณหรือบุคคลภายนอกใดๆ ยกเลิกบัญชีและ ID ผู้ใช้ของคุณทันที และลบหรือเพิกถอนเนื้อหาใดก็ตามที่เกี่ยวข้องกับบัญชีหรือ ID ผู้ใช้ของคุณออกจากไซต์ มูลเหตุสำหรับการยกเลิกดังกล่าวอาจได้แก่ แต่ไม่จำกัดเพียง (ก) การไม่มีการใช้งานเป็นเวลานานๆ (ข) การละเมิดเจตนารมณ์หรือตัวอักษรของเงื่อนไขการให้บริการนี้ (ค) พฤติกรรมผิดกฎหมาย ฉ้อฉล ล่วงละเมิด ทำให้เสื่อมเสีย คุกคาม หรือขู่เข็ญ (ง) การมีบัญชีผู้ใช้หลายบัญชีเพื่อเหตุอันมิชอบด้วยกฎหมาย หรือ (จ) พฤติกรรมที่เป็นอันตรายต่อผู้ใช้คนอื่น บุคคลภายนอก หรือผลประโยชน์ทางธุรกิจของ Playdigger การใช้บัญชีเพื่อจุดประสงค์ที่ผิดกฎหมาย ฉ้อฉล ล่วงละเมิด ทำให้เสื่อมเสีย คุกคาม หรือขู่เข็ญ อาจมีการแจ้งให้หน่วยงานบังคับใช้กฎหมายทราบโดยไม่ต้องแจ้งแก่คุณ หากเกิดข้อพิพาททางกฎหมายหรือการดำเนินคดีเกี่ยวกับบัญชีหรือการใช้บริการของคุณ ไม่ว่าด้วยเหตุผลใดก็ตาม Playdigger อาจยกเลิกบัญชีของคุณทันทีโดยไม่แจ้งให้ทราบ
    <br>
    <br>4.4          ผู้ใช้สามารถยกเลิกบัญชีของตนได้หากแจ้งให้ Playdigger ทราบเป็นลายลักษณ์อักษร (รวมทั้งทางอีเมลที่ contact.playdigger@gmail.com และการส่งข้อความทางโซเชีบลเนตเวิร์ค Facebook ที่ https://www.facebook.com/playdiggerservice/) ว่าประสงค์ที่จะดำเนินการดังกล่าว โดยไม่คำนึงถึงการยกเลิกดังกล่าว ผู้ใช้ยังคงต้องรับผิดชอบและรับผิดต่อธุรกรรมใดก็ตามที่ยังทำไม่เสร็จสิ้น (ไม่ว่าจะเริ่มก่อนหรือหลังการยกเลิกดังกล่าว) การจัดส่งผลิตภัณฑ์ การชำระค่าผลิตภัณฑ์ หรืออย่างอื่นที่คล้ายกัน และผู้ใช้จะต้องติดต่อ Playdigger หลังจากได้ดำเนินการและทำธุรกรรมที่ยังไม่เสร็จสิ้นทั้งหมดให้เสร็จสิ้นในทันทีและอย่างมีประสิทธิภาพตามเงื่อนไขการให้บริการนี้  Playdigger ไม่ต้องรับผิด และจะไม่รับผิดต่อความเสียหายที่เกิดขึ้นอันเนื่องมาจากการดำเนินการตามส่วนนี้ ผูัใช้จะสละสิทธิ์ในการเรียกร้องใดๆ และทั้งหมดบนพื้นฐานการดำเนินการดังกล่าวโดย Playdigger
    <br>
    <br>4.5   คุณสามารถใช้บริการและ/หรือเปิดบัญชีได้ต่อเมื่อคุณอาศัยอยู่ในประเทศที่ได้รับอนุญาตจากเรา  ซึ่งจะมีการปรับปรุงเป็นครั้งคราว
    <br>
    <br> 
    <br>
    <br>5.            <strong>การสั่งซื้อและการชำระเงิน</strong>
    <br>
    <br>5.1          Playdigger สนับสนุนวิธีการชำระเงินต่อไปนี้
    <br>
    <br>(1)           บัตรเครดิต
    <br>
    <br>การชำระผ่านบัตรเครดิตจะดำเนินการผ่านช่องทางการชำระเงินของบุคคลภายนอก และชนิดของบัตรเครดิตที่ช่องทางการชำระเงินเหล่านี้ยอมรับอาจแตกต่างกันไปตามเขตอำนาจตามกฎหมายที่คุณอยู่
    <br>
    <br>(2)           การโอนเงินผ่านธนาคาร
    <br>
    <br>ผู้ใช้สามารถชำระเงินผ่านเครื่องเอทีเอ็มหรือโอนเงินผ่านธนาคารทางอินเทอร์เน็ต (“การโอนเงินผ่านธนาคาร”) ไปยังบัญชี Playdigger ที่เรากำหนดไว้ (ดังที่นิยามไว้ในส่วนที่ 10) ผู้ใช้จะต้องส่งใบเสร็จการรับโอนเงินหรือหมายเลขอ้างอิงการทำรายการชำระเงินให้แก่ Playdigger เพื่อทำการตรวจสอบการส่งข้อความทางโซเชีบลเนตเวิร์ค Facebook ที่ https://www.facebook.com/playdiggerservice/ 
    <br>
    <br>(3)           การชำระผ่านกระเป๋าเงินอิเล็กทรอนิกส์
    <br>
    <br>การชำระผ่านกระเป๋าเงินอิเล็กทรอนิกส์จะดำเนินการผ่านช่องทางการชำระเงินของบุคคลภายนอก อันได้แก่ บริษัท ทรูมันนี่ (ประเทศไทย) จำกัด (ซึ่งต่อไปนี้เรียกว่า “ทรูมันนี่”)
    <br>
    <br>5.2          ผู้ใช้สามารถเปลี่ยนวิธีการชำระเงินที่ต้องการได้ต่อเมื่อเปลี่ยนก่อนทำการชำระเงินเท่านั้น
    <br>
    <br>5.3          Playdigger ไม่รับผิดชอบและจะไม่ยอมรับผิดใดๆ ต่อความสูญเสียหรือความเสียหายแก่ผู้ใช้อันเกิดจากข้อมูลการจัดส่งและ/หรือข้อมูลการชำระเงินที่ผู้ใช้ป้อนไว้ หรือการที่ผู้ใช้โอนเงินค่าชำระสินค้าที่ซื้อไม่ถูกต้อง เราสงวนสิทธิ์ในการตรวจสอบว่าผู้ใช้ได้รับอนุญาตอย่างเหมาะสมให้ใช้วิธีการชำระเงินบางอย่าง และอาจระงับธุรกรรมไว้จนกว่าจะได้ยืนยันการอนุญาตนั้นแล้ว หรือยกเลิกธุรกรรมที่เกี่ยวข้องกรณีไม่มีการยืนยันดังกล่าว
    <br>
    <br>5.4          ในกรณีที่ Playdigger สามารถชำระเงินแก่ผู้ใช้ทางการโอนเงินผ่านธนาคารเท่านั้น ผู้ใช้จำเป็นต้องให้ข้อมูลบัญชีเงินฝากของตนแก่ Playdigger เพื่อรับการชำระเงิน กล่าวคือ จากการขายสินค้า หรือการคืนเงินจาก Playdigger
    <br>
    <br> 
    <br>
    <br>6.          <strong>การจัดส่งสินค้าหรือบริการ</strong>
    <br>
    <br>6.1        Playdigger จะแจ้งให้ผู้ใช้ทราบเมื่อ Playdigger ได้รับคำสั่งออเดอร์จากผู้ใช้ผ่านทางแพลตฟอร์มพร้อมทั้งรายงานสถานะล่าสุดของคำสั่งที่ผู้ใช้สั่งมา
    <br>
    <br> 
    <br>
    <br>7.          <strong>การยกเลิก การคืนสินค้าและการคืนเงิน</strong>
    <br>
    <br>7.1        ผู้ใช้สามารถยกเลิกคำสั่งที่สั่งมาได้ด้วยตนเอง ในกรณีที่ที่ผู้ใช้ต้องการจะยกเลิกและรับเครดิต (“เครดิต”) คืน ผ่านทางแพลตฟอร์ม Playdigger
    <br>
    <br>7.2        Playdigger สงวนสิทธิ์ในการคืนเงินผู้ใช้ในกรณีที่หลังจากผู้ใช้เติมเงิน (“เติมเครดิต”) เข้าแพลตฟอร์มและทำการสั่งออเดอร์ไปแล้ว
    <br>
    <br> 
    <br>
    <br>8.          <strong>ข้อยกเว้นและข้อจำกัดการรับผิด</strong>
    <br>
    <br>8.1        จนถึงขอบเขตสูงสุดที่กฎหมายที่เกี่ยวข้องอนุญาตไว้ ไม่ว่าในสถานการณ์ใดก็ตาม Playdigger จะไม่รับผิดไม่ว่าตามสัญญา การรับประกัน การละเมิด (รวมถึง แต่ไม่จำกัดเพียง ความประมาทเลินเล่อ (ไม่ว่าในเชิงรุก เชิงรับ หรือถูกใส่ความ) ความรับผิดของผลิตภัณฑ์ ความรับผิดโดยสิ้นเชิงหรือทฤษฎีอื่น) หรือประเด็นฟ้องอื่นตามกฎหมาย ตามความเที่ยงธรรม ตามบทกฎหมาย หรืออื่นใด ต่อ:
    <br>
    <br>8.1.1     (ก) การสูญเสียการใช้งาน (ข) การสูญเสียกำไร (ค) การสูญเสียรายได้ (ง) การสูญเสียข้อมูล (จ) การสูญเสียค่าความนิยม หรือ (ฉ) การล้มเหลวในการรับรู้เงินออมที่คาดการณ์ไว้ ในแต่ละกรณีทั้งในทางตรงและทางอ้อม หรือ
    <br>
    <br>8.1.2     ความเสียหายทางอ้อม โดยบังเอิญ พิเศษ หรือที่เป็นผลตามมา
    <br>
    <br>ที่เกิดจากหรือเกี่ยวเนื่องกับการใช้หรือการไม่สามารถใช้ไซต์นี้หรือบริการ รวมถึงแต่ไม่จำกัดเพียง ความเสียหายอันเกิดจากสิ่งดังกล่าว แม้ว่า Playdigger จะได้รับแจ้งถึงความเป็นไปได้ของความเสียหายดังกล่าวแล้วก็ตาม
    <br>
    <br>8.2        คุณรับทราบและตกลงว่าสิทธิเพียงอย่างเดียวที่คุณมีเกี่ยวกับปัญหาหรือความไม่พึงพอใจใดๆ ในบริการคือการขอให้ยกเลิกบัญชีของคุณ และ/หรือหยุดใช้งานบริการ
    <br>
    <br>8.3        ถ้า โดยไม่คำนึงถึงความในส่วนก่อนหน้า Playdigger ถูกศาลหรือเขตอำนาจศาลที่มีอำนาจสั่งให้ต้องรับผิด (รวมถึงต่อการประมาทเลินเล่ออย่างร้ายแรง) จนถึงขอบเขตสูงสุดที่กฎหมายที่เกี่ยวข้องอนุญาตไว้ ความรับผิดต่อคุณหรือบุคคลภายนอกใดๆ จะจำกัดอยู่ที่น้อยกว่าสิ่งต่อไปนี้ (ก) จำนวนเงินที่ต้องชำระให้แก่คุณคือ SG $100 (หนึ่งร้อยดอลลาร์สิงคโปร์)
    <br>
    <br>8.4        ไม่มีสิ่งใดในเงื่อนไขการให้บริการนี้ที่จะจำกัดหรือยกเว้นความรับผิดต่อการเสียชีวิต หรือการบาดเจ็บร่างกายอันเกิดจากความประมาทเลินเล่อของ Playdigger การฉ้อโกง หรือต่อความรับผิดอื่นใดในส่วนของ Playdigger ที่ไม่สามารถจำกัดและ/หรือยกเว้นได้ตามกฎหมาย
    <br>
    <br> 
    <br>
    <br>9.          <strong>การรับรองและการรับประกันของคุณ</strong>
    <br>
    <br>คุณรับรองและรับประกันว่า:
    <br>
    <br>(ก)          คุณบรรลุนิติภาวะ (และในกรณีของผู้เยาว์ ได้รับความยินยอมจากพ่อแม่หรือผู้ปกครองตามกฎหมาย) มีสิทธิและความสามารถที่จะเข้าทำสัญญาเงื่อนไขการให้บริการนี้และปฏิบัติตามเงื่อนไขนี้ และ
    <br>
    <br>(ข)          คุณจะใช้บริการเพื่อจุดประสงค์ที่ถูกกฎหมายและตามเงื่อนไขการให้บริการนี้ และกฎหมาย กฎระเบียบ ประมวลกฎหมาย คำสั่ง แนวทางปฏิบัติ นโยบายและข้อบังคับที่บังคับใช้ทั้งหมด
    <br>
    <br> 
    <br>
    <br>หากบทบัญญัติใดในเงื่อนไขการให้บริการนี้ถือว่าผิดกฎหมาย เป็นโมฆะ หรือไม่สามารถบังคับใช้ได้ไม่ว่าด้วยเหตุผลใดภายใต้กฎหมายของเขตอำนาจศาลใด ให้ถือว่าบทบัญญัตินั้นสามารถแยกออกจากกันได้จากข้อกำหนดและเงื่อนไขนี้ และไม่ส่งผลต่อความสมบูรณ์และการมีผลบังคับใช้ของบทบัญญัติที่เหลือ หรือความสมบูรณ์และการมีผลบังคับใช้ของบทบัญญัติที่มีปัญหาภายใต้กฎหมายของเขตอำนาจศาลอื่นใด
    <br>
    <br> 
    <br>
    <br><strong>ปรับปรุงครั้งล่าสุดเมื่อวันที่ 2 มีนาคม พ.ศ. 2561</strong></span>
  </div>
</div>
