<% unless current_user.is_confirmed %>
  <div id='announce'>
    <span>กรุณายืนยัน Email เพื่อรับเครดิตสำหรับการทดลองใช้ <%= BONUS_NEW_ACCOUNT %> คะแนนโหวต</span>
  </div>
<% end %>
<div id='home_container'>
  <div id='home_navi'>
    <a href='<%= home_path %>' class='navi'>หน้าแรก</a>
    <a href='<%= topup_path %>' class='navi active'>เติมเงิน</a>
    <a href='<%= transaction_history_path %>' class='navi'>ประวัติการเติมเงิน</a>
    <a href='<%= order_history_path %>' class='navi'>ประวัติการใช้บริการ</a>
    <a href='<%= contact_path %>' class='navi'>ติดต่อ</a>
    <a href='<%= setting_path %>' class='navi'>ตั้งค่า</a>
  </div>

  <div id='home_main_content'>
    <div id='home_head'>
      <span id='text_rim'>เติมเงิน</span>
    </div>
    <hr>
    <div id='payment_method_container'>
      <span id='pmt'>ช่องทางการชำระเงิน : </span>
      <%= select_tag "pm_method", options_for_select([ "เลือก", "(1 บาท / 20 เครดิต) บัตร True Money", "(1 บาท / 25 เครดิต) Visa/MasterCard ผ่าน Paypal", "(1 บาท / 25 เครดิต) โอนเงิน" ], "PaymentMethod"), :onchange => 'topupChange()' %>
    </div>
    <hr>
    <span id='text_tobehide' style='width: 100%; text-align: center; display: block; color: #555555;'>กรุณาเลือกช่องทางการชำระเงิน</span>
    <div id='true_money_container'>
      <div id='price_detail_container'>
        <table id='price_detail'>
          <thead>
            <tr>
              <td>อัตราค่าบริการ (บาท)</td>
              <td>จำนวนแต้มขุด (โหวต)</td>
            </tr>
          </thead>
          <% true_multiplier = 20 %>
          <tbody>
            <tr>
              <td>50</td>
              <td><%= 50*true_multiplier %></td>
            </tr>
            <tr>
              <td>90</td>
              <td><%= 90*true_multiplier %></td>
            </tr>
            <tr>
              <td>150</td>
              <td><%= 150*true_multiplier %></td>
            </tr>
            <tr>
              <td>300</td>
              <td><%= 300*true_multiplier %></td>
            </tr>
            <tr>
              <td>500</td>
              <td><%= 500*true_multiplier %></td>
            </tr>
            <tr>
              <td>1000</td>
              <td><%= 1000*true_multiplier %></td>
            </tr>
          </tbody>
        </table>
      </div>
      <%= form_tag('/topup_true', id: 'cash_form', remote: true, authenticity_token: true, :multipart => true, enctype: 'application/json') do %>
        <span id='true_info_text'>กรุณากรอกรหัสบัตร True Money 14 หลัก</span>
        <input id='cashno' type="text" pattern="^[\d+]{14,14}$" placeholder='รหัสบัตร 14 หลัก' name='cashno' /><br>
        <br>
        <%= submit_tag 'เติมเงิน', id: 'cash_submit' %>
      <% end %>

    </div>
    <div id='paypal_container'>
      <div id='price_detail_container'>
        <table id='price_detail'>
          <thead>
            <tr>
              <td>อัตราค่าบริการ (บาท)</td>
              <td>จำนวนแต้มขุด (โหวต)</td>
            </tr>
          </thead>
          <% paypal_multiplier = 25 %>
          <tbody>
            <tr>
              <td>100</td>
              <td><%= 100*paypal_multiplier %></td>
            </tr>
            <tr>
              <td>300</td>
              <td><%= 300*paypal_multiplier %></td>
            </tr>
            <tr>
              <td>500</td>
              <td><%= 500*paypal_multiplier %></td>
            </tr>
            <tr>
              <td>700</td>
              <td><%= 700*paypal_multiplier %></td>
            </tr>
            <tr>
              <td>1000</td>
              <td><%= 1000*paypal_multiplier %></td>
            </tr>
            <tr>
              <td>1500</td>
              <td><%= 1500*paypal_multiplier %></td>
            </tr>
            <tr>
              <td>2000</td>
              <td><%= 2000*paypal_multiplier %></td>
            </tr>
            <tr>
              <td>2500</td>
              <td><%= 2500*paypal_multiplier %></td>
            </tr>
            <tr>
              <td>3000</td>
              <td><%= 3000*paypal_multiplier %></td>
            </tr>
            <tr>
              <td>4000</td>
              <td><%= 4000*paypal_multiplier %></td>
            </tr>
            <tr>
              <td>5000</td>
              <td><%= 5000*paypal_multiplier %></td>
            </tr>
          </tbody>
        </table>
      </div>

      <form id='paypal_method' action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
        <input type="hidden" name="cmd" value="_s-xclick">
        <input type="hidden" name="hosted_button_id" value="JCJ5NZ4V5WURA">
        <table>
          <tr>
            <td id='paypal_info'>
              <input type="hidden" name="on0" value="Credits">เลือกจำนวนเครดิตและราคา
            </td>
          </tr>
          <tr>
            <td>
              <select name="os0">
                <option value="2500 Credits">2500 Credits ฿100.00 THB</option>
                <option value="7500 Credits">7500 Credits ฿300.00 THB</option>
                <option value="12500 Credits">12500 Credits ฿500.00 THB</option>
                <option value="17500 Credits">17500 Credits ฿700.00 THB</option>
                <option value="25000 Credits">25000 Credits ฿1,000.00 THB</option>
                <option value="37500 Credits">37500 Credits ฿1,500.00 THB</option>
                <option value="50000 Credits">50000 Credits ฿2,000.00 THB</option>
                <option value="62500 Credits">62500 Credits ฿2,500.00 THB</option>
                <option value="75000 Credits">75000 Credits ฿3,000.00 THB</option>
                <option value="100000 Credits">100000 Credits ฿4,000.00 THB</option>
              </select>
            </td>
          </tr>
        </table>
        <input type="hidden" name="currency_code" value="THB">
        <input type="hidden" name="custom" value="<%= current_user.id %>">
        <input id='buy_paypal' type="image" src="https://www.paypalobjects.com/en_GB/TH/i/btn/btn_buynowCC_LG.gif" border="0" name="submit" alt="PayPal – The safer, easier way to pay online!">
        <img alt="" border="0" src="https://www.paypalobjects.com/en_GB/i/scr/pixel.gif" width="1" height="1">
      </form>

    </div>
    <div id='debit_container'>
      <div id='price_detail_container'>
        <table id='price_detail'>
          <thead>
            <tr>
              <td>อัตราค่าบริการ (บาท)</td>
              <td>จำนวนแต้มขุด (โหวต)</td>
            </tr>
          </thead>
          <% debit_multiplier = 25 %>
          <tbody>
            <tr>
              <td>100</td>
              <td><%= 100*debit_multiplier %></td>
            </tr>
            <tr>
              <td>300</td>
              <td><%= 300*debit_multiplier %></td>
            </tr>
            <tr>
              <td>500</td>
              <td><%= 500*debit_multiplier %></td>
            </tr>
            <tr>
              <td>700</td>
              <td><%= 700*debit_multiplier %></td>
            </tr>
            <tr>
              <td>1000</td>
              <td><%= 1000*debit_multiplier %></td>
            </tr>
            <tr>
              <td>1500</td>
              <td><%= 1500*debit_multiplier %></td>
            </tr>
            <tr>
              <td>2000</td>
              <td><%= 2000*debit_multiplier %></td>
            </tr>
            <tr>
              <td>2500</td>
              <td><%= 2500*debit_multiplier %></td>
            </tr>
            <tr>
              <td>3000</td>
              <td><%= 3000*debit_multiplier %></td>
            </tr>
            <tr>
              <td>4000</td>
              <td><%= 4000*debit_multiplier %></td>
            </tr>
            <tr>
              <td>5000</td>
              <td><%= 5000*debit_multiplier %></td>
            </tr>
          </tbody>
        </table>
      </div>
      <div id='transfer_info'>
        <span id='transfer_info_head'>บัญชี</span>
        <table id='price_detail'>
          <thead>
            <tr>
              <td>บัญชีธนาคาร</td>
              <td>526-2-59168-0 (กสิกรไทย)</td>
            </tr>
            <tr>
              <td>พร้อมเพย์</td>
              <td>0875487117</td>
            </tr>
            <tr>
              <td>ทรูมันนี่วอลเลต</td>
              <td>0875487117</td>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td colspan="2">นาย ธนภัทร สายนาค</td>
            </tr>
          </tbody>
        </table>
        <span>โปรดติดต่อที่ <a href='https://www.facebook.com/playdiggerservice/'>https://www.facebook.com/playdiggerservice/</a> ก่อนทำการโอนเงิน</span>
      </div>
    </div>

  </div>
</div>

