if ('<%= @status %>' == 'good') {
  setTimeout(function(){
    window.location = "/home";
  }, 1500);
} else {
  if ($("#cancelOrderFader").css('display') == "block") {
    $("#cancelOrderFader").fadeToggle(100)
  }
}

alertSnack('<%= @message %>', '<%= @status %>');
