if ('<%= @status %>' == 'good') {
} else {
  if ($("#fader").css('display') == "block") {
    $("#fader").fadeToggle(100)
  }
}
<% if @redirect == true %>
  setTimeout(function(){
    window.location = "/home";
  }, 1500);
<% end %>
alertSnack('<%= @message %>', '<%= @status %>');
