<% unless current_user.is_confirmed %>
  <div id='announce'>
    <span>กรุณายืนยัน Email เพื่อรับเครดิตสำหรับการทดลองใช้ <%= BONUS_NEW_ACCOUNT %> คะแนนโหวต</span>
  </div>
<% end %>
<div id='home_container'>
  <div id='home_navi'>
    <a href='<%= home_path %>' class='navi active'>หน้าแรก</a>
    <a href='<%= topup_path %>' class='navi'>เติมเงิน</a>
    <a href='<%= transaction_history_path %>' class='navi'>ประวัติการเติมเงิน</a>
    <a href='<%= order_history_path %>' class='navi'>ประวัติการใช้บริการ</a>
    <a href='<%= contact_path %>' class='navi'>ติดต่อ</a>
    <a href='<%= setting_path %>' class='navi'>ตั้งค่า</a>
  </div>

  <div id='home_main_content'>
    <div id='home_head'>
      <span id='text_rim'>เครดิตที่เหลือ : </span>
      <span id='rim_point'><%= current_user.credit || 0 %></span>
      <a href='<%= topup_path %>' id='topup'>เติมเงิน</a>
      <a href='<%= transaction_history_path %>' id='topup_transaction'>ประวัติการเติมเงิน</a>
    </div>
    <hr>
    <%= form_tag('/create_order', id: 'ord_form', remote: true, authenticity_token: true, :multipart => true, enctype: 'application/json') do %>
      <span class='order_text'>Server URL : </span><%= text_field_tag :url, nil, placeholder: 'http://playserver.in.th/index.php/Server/XXXXXXXX', class: 'ord_input' %><br>
      <span class='order_text'>จำนวนเครดิต : </span><%= text_field_tag :credit, nil, placeholder: '30', class: 'ord_input' %><br>
      <span class='order_text'>ไอดีเกม : </span><%= text_field_tag :username, nil, placeholder: 'gameid', class: 'ord_input' %><br>
      <div id='advanced'><span class='order_text align_top'>จำกัดความเร็ว (ช้าลง) : </span><%= check_box_tag("islimit", true, false, onclick: "showAdvanced();") %></div>
      <div id='advanced_content'>
        <span class='order_text'>จำนวนเครื่องที่ขุด : </span><%= text_field_tag :ilimit, nil, placeholder: '1', class: 'ord_input' %><br><br>
        <span class='limitdetail'>เปิดใช้สำหรับกรณีที่ต้องการให้การขุดนั้น<strong>ช้าลง</strong> (ไม่สามารถทำให้เร็วขึ้นได้)</span><br>
        <br>
        <span class='limitdetail'>จำนวนเครื่องที่ขุด 1 เครื่องสามารถขุดได้ 50-60 คำตอบต่อ 1 ชั่วโมง</span><br>
        <span class='limitdetail'>ถ้าระบุ 3 เครื่อง หมายความว่าความเร็วในการขุดจะอยู่ที่ 150-180 คะแนนต่อชั่วโมง</span><br>
      </div>
      <a href='#' id="order_submit" onclick="pleaseConfirm();">ขุด</a>
      <div id='fader'>
        <div id='confirm_container'>
          <div id='confirmation'>
            <span id='confirm_head'>ยืนยันคำสั่ง</span><br>
            <div class='text_wrapper'>
              <span>Server : </span><span id='confirm_server_name'></span><br>
            </div>
            <div class='text_wrapper'>
              <span>เครดิต &nbsp;: </span><span id='confirm_credit'></span><br>
            </div>
            <div class='text_wrapper'>
              <span>ไอดีเกม : </span><span id='confirm_id'></span><br>
            </div>
            <div id='i_showing' class='text_wrapper instance_showing'>
              <span>จำนวนเครื่อง : </span><span id='confirm_instance'></span><br>
            </div>
            <br><br>
            <a id='cancel' href='#' onclick="cancelConfirm();">ยกเลิก</a><%= submit_tag 'ยืนยัน', id: 'confirm', class: 'g-recaptcha' %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  <div id='home_dig_content'>
    <div id='home_head'>
      <span id='text_rim'>รายการที่กำลังขุดอยู่ของฉัน</span>
    </div>
    <hr>
    <div id='current_dig'>
      <table id='tab_cur_dig'>
        <thead>
          <tr>
            <td width="20%">เวลา</td>
            <td width="20%">เซิฟเวอร์</td>
            <td width="20%">ไอดี</td>
            <td width="20%">สถานะ</td>
            <td width="20%" colspan="2">เครดิต</td>
          </tr>
        </thead>
        <tbody>
          <% OrderTransaction.where(user_id: current_user.id, is_finished: false).order(:created_time => :desc).each do |ttrns| %>
            <% this_count = $redis.get(ttrns.id.to_s+'#-#'+ttrns.order_key).to_i %>
            <% if ttrns.status == 'C' %>
              <% this_count = ttrns.credit %>
              <% ttrns.is_finished = true %>
              <% ttrns.save %>
            <% end %>
            <tr data-order_id='<%= ttrns.id %>'>
              <td><%= Time.at(ttrns.created_time).strftime('%D %r') %></td>
              <td><%= ttrns.url %></td>
              <td><%= ttrns.username %></td>
              <td><div class='progress_bar' data-order_id='<%= ttrns.id %>' data-current_dig='<%= this_count %>' data-dig_max='<%= ttrns.credit %>'><input type="hidden" name="" class='pg_bar_val' value="<%= this_count %>"><div class='progress' style='width: <%= (this_count/(ttrns.credit/100.0)).round(0) %>%;'></div></div></td>
              <td class='ord_max'><span class='cur_ord'><%= this_count %></span> / <span id='max_ord'><%= ttrns.credit %></span></td>
              <td class='cancel'><a href='#' class='can_btn' onclick="cancelOrder(<%= ttrns.id %>);">X</a></td>
            </tr>
          <% end %>
        </tbody>
      </table>
      <div id='cancelOrderFader'>
        <div id='cancel_container'>
          <div id='cancelation'>
            <%= form_tag('/cancel_order', id: 'ord_canc', remote: true, authenticity_token: true, :multipart => true, enctype: 'application/json') do %>
              <%= hidden_field_tag 'cancel_order_id', '' %>
              <span id='cancel_head'>คุณต้องการที่จะยกเลิกคำสั่งนี้ใช่หรือไม่</span><br><br>
              <a id='cancel_cancel' href='#' onclick="cancelCancel();">ยกเลิก</a><%= submit_tag 'ยืนยัน', id: 'confirm_cancel', class: 'g-recaptcha' %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <% if @announce %>
    <a id='announce_clicker' onclick="hideAnnounce();">
      <div id='announceFader'>
        <div id='anounceContainer'>
          <div id='announce2'>
            <div id='announce_image'>
              <img id='announce_image' src='<%= @announce.image_url %>'></img>
            </div>
            <div id='announce_text'>
              <% if @announce.title %>
                <h3><%= @announce.title %></h3>
              <% end %>
              <% if @announce.description %>
                <span><%= @announce.description %></span>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </a>
  <% end %>
</div>
