<div id='admin_container'>
  <div id='admin_wrapper'>
    <a class='admin_nav' href='<%= gasza_admin_monitor_path %>'>มอนิเตอร์ระบบ</a>
    <a class='admin_nav' href='<%= gasza_admin_topup_path %>'>เติมเงิน</a>
  </div>
</div>
