<div id='admin_container'>
  <div id='admin_wrapper'>
    <table>
      <thead>
        <tr>
          <td>server</td>
          <td>type</td>
          <td>current</td>
          <td>credit</td>
          <td>to_dig</td>
        </tr>
      </thead>
      <tbody>
        <% (@data || []).each do |data| %>
          <tr>
            <td class='servername'><%= data[:key] %></td>
            <td><%= data[:type] %></td>
            <td><%= data[:current] %></td>
            <td><%= data[:credit] %></td>
            <td><%= data[:to_dig] %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

