<div id='admin_container'>
  <div id='admin_wrapper'>
    <%= form_tag('/topup_debit', id: 'gas_topup', remote: true, authenticity_token: true, :multipart => true, enctype: 'application/json') do %>
      <%= text_field_tag :username, nil, placeholder: 'Username', class: 'admin_input' %>
      <%= text_field_tag :price, nil, placeholder: 'Price', class: 'admin_input' %>
      <%= text_field_tag :promotion, nil, placeholder: 'Promotion', class: 'admin_input' %>
      <%= submit_tag 'เติมเงิน', id: 'admin_submit_btn' %>
    <% end %>
  </div>
</div>
