<% if @success == true %>
  <% if @dup_ip == false %>
    <div id='veri' class='good'>
      <span class='good'>การยืนยันเสร็จสมบูรณ์</span>
    </div>
  <% else %>
    <div id='veri' class='bad'>
      <span class='good'>การยืนยันเสร็จสมบูรณ์ แต่ท่านอาจจะไม่ได้เครดิตฟรีเนื่องจากเราตรวจพบว่าท่านอาจจะเป็นบอทหรือสแปม</span>
    </div>
  <% end %>
<% else %>
  <div id='veri' class='bad'>
    <span class='bad'>การยืนยันล้มเหลว</span>
  </div>
<% end %>
