<% unless current_user.is_confirmed %>
  <div id='announce'>
    <span>กรุณายืนยัน Email เพื่อรับเครดิตสำหรับการทดลองใช้ <%= BONUS_NEW_ACCOUNT %> คะแนนโหวต</span>
  </div>
<% end %>
<div id='home_container'>
  <div id='home_navi'>
    <a href='<%= home_path %>' class='navi'>หน้าแรก</a>
    <a href='<%= topup_path %>' class='navi'>เติมเงิน</a>
    <a href='<%= transaction_history_path %>' class='navi'>ประวัติการเติมเงิน</a>
    <a href='<%= order_history_path %>' class='navi'>ประวัติการใช้บริการ</a>
    <a href='<%= contact_path %>' class='navi'>ติดต่อ</a>
    <a href='<%= setting_path %>' class='navi active'>ตั้งค่า</a>
  </div>

  <div id='home_main_content'>
    <div id='home_head'>
      <span id='text_rim'>เปลี่ยนรหัสผ่าน</span>
    </div>
    <hr>
    <%= form_tag('/change_password', id: 'chg_pwd_form', remote: true, authenticity_token: true, :multipart => true, enctype: 'application/json') do %>
      <span class='change_password_text'>รหัสผ่านเก่า : </span><%= password_field_tag :old_password, nil, class: 'ord_input' %><br>
      <span class='change_password_text'>รหัสผ่านใหม่ : </span><%= password_field_tag :new_password, nil, class: 'ord_input' %><br>
      <span class='change_password_text'>รหัสผ่านใหม่อีกครั้ง : </span><%= password_field_tag :new_password_confirmation, nil, class: 'ord_input' %><br>
      <%= submit_tag 'เปลี่ยนรหัสผ่าน', id: 'confirm', class: 'g-recaptcha' %>
    <% end %>
  </div>
</div>
