<% unless current_user.is_confirmed %>
  <div id='announce'>
    <span>กรุณายืนยัน Email เพื่อรับเครดิตสำหรับการทดลองใช้ <%= BONUS_NEW_ACCOUNT %> คะแนนโหวต</span>
  </div>
<% end %>
<div id='home_container'>
  <div id='home_navi'>
    <a href='<%= home_path %>' class='navi'>หน้าแรก</a>
    <a href='<%= topup_path %>' class='navi'>เติมเงิน</a>
    <a href='<%= transaction_history_path %>' class='navi'>ประวัติการเติมเงิน</a>
    <a href='<%= order_history_path %>' class='navi'>ประวัติการใช้บริการ</a>
    <a href='<%= contact_path %>' class='navi active'>ติดต่อ</a>
    <a href='<%= setting_path %>' class='navi'>ตั้งค่า</a>
  </div>

  <div id='home_main_content'>
    <div id='home_head'>
      <span id='text_rim'>ติดต่อ</span>
    </div>
    <hr>
    <div id='contact_info'>
      <span id='contact_head'>แจ้งปัญหาหรือติดต่อผู้ดูแลระบบได้ที่</span><br>
      <span> <a href='https://www.facebook.com/playdiggerservice/'>https://www.facebook.com/playdiggerservice/</a></span><br>
      <span>ผ่านทางข้อความ (Message)</span><br>
      <span>ทุกวัน 10.00 น. - 22.00 น.</span>
    </div>

  </div>
</div>
