// Place all the styles related to the administrator controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#admin_container {
  margin: auto;
  width: 900px;
}

#admin_wrapper {
  background: white;
  padding: 20px;
  border-radius: 10px;
  border: 1px solid #CCCCCC;
  margin-bottom: 30px;
  margin-top: 25px;
  display: flex;
}

.admin_nav {
  display: block;
  width: 100%;
  color: white;
  background: #FF4F0F;
  text-align: center;
  text-decoration: none;
  padding: 20px;
  margin: 5px;
}

table {
  width: 100%;
  border: 1px solid #AAAAAA;
  border-radius: 2px;
  border-collapse: collapse;
  background: white;
  font-size: 11pt;
}


table td {
  border: 1px solid #CCCCCC;
  text-align: center;
  font-family: kanit,sans-serif;
  color: #353535;
  padding: 10px;
}

table thead td {
  font-weight: bold;
}

table tbody tr:nth-child(even) {
  background-color: #f2f2f2
}

.servername {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  max-width: 70px;
}

.admin_input {
  width: 100%;
  border: 1px solid #BBBBBB;
  font-size: 11pt;
  padding: 6px;
  color: #555555;
  margin-top: 4px;
}

#gas_topup {
  display: flex;
}

#admin_submit_btn {
  border: 1px solid #BBBBBB;
  font-size: 11pt;
  padding: 6px;
  width: 400px;
  color: #555555;
  margin-top: 4px;
}
