/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_self
 */

html, body {
  padding: 0px;
  margin: 0px;
  background: #ededed;
  box-sizing: border-box;
}

#top_signout {
  color: white;
  text-decoration: none;
  font-weight: bold;
  padding: 5px 10px;
  background: #FF4F0F;
  font-size: 9pt;
  border-radius: 2px;
  border: none;
  margin-top: 6px;
  display: inline-block;
  width: auto;
}

div#header {
  display: flex;
  padding: 5px;
  background: #16192B;
  height: 67px;
}

#head_left, #head_right {
  display: inline-block;
}

#head_right {
  width: 100%;
  text-align: right;
  padding: 10px;
}

#head_left {
  width: 40%;
  padding: 10px;
}

:focus {outline:none;}
::-moz-focus-inner {border:0;}

* {  
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;
}

@font-face {
    font-family: 'kanit';
    src: font-url('kanit-light-webfont.eot');
    src: font-url('kanit-light-webfont.eot?#iefix') format('embedded-opentype'),
         font-url('kanit-light-webfont.woff2') format('woff2'),
         font-url('kanit-light-webfont.woff') format('woff'),
         font-url('kanit-light-webfont.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'kanit';
    src: font-url('kanit-medium-webfont.eot');
    src: font-url('kanit-medium-webfont.eot?#iefix') format('embedded-opentype'),
         font-url('kanit-medium-webfont.woff2') format('woff2'),
         font-url('kanit-medium-webfont.woff') format('woff'),
         font-url('kanit-medium-webfont.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'kanit';
    src: font-url('kanit-regular-webfont.eot');
    src: font-url('kanit-regular-webfont.eot?#iefix') format('embedded-opentype'),
         font-url('kanit-regular-webfont.woff2') format('woff2'),
         font-url('kanit-regular-webfont.woff') format('woff'),
         font-url('kanit-regular-webfont.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

a[disabled], input[disabled] {
  pointer-events: none;
  cursor: default;
}

input:focus, input:required {
  outline: none;
  box-shadow: none;
}

input, textarea, a, span, h1, h2, h3, h4, h5, h6 {
  font-family: kanit,sans-serif;
}

#footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 150px;
  background: #16192B;
  text-align: center;
  color: #DDDDDD;
  font-size: 10pt;
  padding-bottom: 30px;
  padding-top: 30px;
}

#snackbar {
  position: absolute;
  padding: 10px 40px;
  border-radius: 3px;
  transform: translate(-50%, -0%);
  left: 50%;
  font-size: 14pt;
  box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.3);
  color: white;
}

#snackbar.good {
  background: #55AA2B;
}

#snackbar.bad {
  background: #df3d32;
}

#snackbar.normal {
  background: #363636;
}

#snackcontainer {
  -webkit-transition: bottom 0.5s; /* Safari */
  transition: bottom 0.5;
  z-index: 5;
}

img#logo_top {
  height: 29px;
}

input#login_btn {
  color: white;
  text-decoration: none;
  font-weight: bold;
  padding: 5px 10px;
  background: #FF4F0F;
  font-size: 9pt;
  border-radius: 2px;
  border: none;
  cursor: pointer;
}

.login_input {
  border: 1px solid #dddddd;
  font-size: 10pt;
  padding: 6px;
  color: #555555;
  margin-top: 4px;
  display: inline-block;
}


#snackbar {
  position: absolute;
  padding: 10px 40px;
  border-radius: 3px;
  transform: translate(-50%, -0%);
  left: 50%;
  font-size: 10pt;
  box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.3);
  color: white;
}

#snackbar.good {
  background: #55AA2B;
}

#snackbar.bad {
  background: #df3d32;
}

#snackbar.normal {
  background: #363636;
}

#snackcontainer {
  -webkit-transition: bottom 0.5s; /* Safari */
  transition: bottom 0.5;
}

#all_body {
  padding-bottom: 150px;
}

html,
body {
   margin:0;
   padding:0;
   height:100%;
}

#all_container {
   min-height:100%;
   position:relative;
}

#noti {
  font-size: 2em;
  color: white;
  vertical-align: middle;
  display: inline-block;
  margin-right: 16px;
  position: relative;
}

#noti_counter {
  font-size: 1.5em;
}

#toggleNoti {
  text-decoration: none;
  color: white;
}

#notiList {
  position: absolute;
  right: 0px;
  font-size: 11pt;
  width: 360px;
  background: white;
  border-radius: 1px;
  box-shadow: 0px 1px 8px rgba(0, 0, 0, 0.3);
  top: 40px;
  display: none;
}

#notiListHead {
  padding: 10px;
}

#notiListHead a {
  text-decoration: none;
  color: #FF4F0F;
}

#notiListHead span {
  color: #363636;
  float: left;
}

#notiListData {
  max-height: 400px;
  overflow-x: auto;
}

#notiList hr {
  margin-top: 1px;
  margin-bottom: 1px;
} 

#notiListData ul {
  padding-left: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
  text-align: left;
  list-style: none;
}

#notiListData ul a {
  padding: 10px;
  display: block;
  text-decoration: none;
}

#notiListData ul a.unread {
  background: #F2F2F2;
}

#notiListData ul a:hover {
  background: #EAEAEA;
}

#notiListData ul li {
  display: flex;
}

.notiIcon {
  font-size:2em;
}

.notiContentHead {
  color: #363636;
}

.notiContentTime {
  color: #898989;
}

.notiContent {
  margin-left: 15px;
}

#noNoti, #loadNoti {
  text-align: center;
  padding: 5px;
  color: #AEAEAE;
}

#noNoti li, #loadNoti li {
  display: block!important;
}
