// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

div#announce {
  background: #FFCE51;
  margin: 10px;
  text-align: center;
  padding: 5px;
  border-radius: 5px;
  color: #333333;
}

div#home_container {
  margin: auto;
  width: 900px;
}

div#home_main_content, div#home_dig_content {
  background: white;
  padding: 20px;
  border-radius: 10px;
  border: 1px solid #CCCCCC;
}

span#text_rim, span#rim_point {
  font-size: 17pt;
  color: #363636;
}

a#topup {
  float: right;
  display: block;
  cursor: pointer;
  text-decoration: none;
  padding: 5px;
  color: white;
  background: #2B994E;
  padding-right: 20px;
  padding-left: 20px;
  border-radius: 2px;
}

a#topup_transaction {
  float: right;
  display: block;
  cursor: pointer;
  text-decoration: none;
  padding: 5px;
  color: white;
  background: #777777;
  padding-right: 20px;
  padding-left: 20px;
  border-radius: 2px;
  margin-right: 15px;
}

hr {
  margin-top: 20px;
  margin-bottom: 20px;
  border: none;
  border-top: 1px solid #CCCCCC;
}

div#home_navi {
  width: 100%;
  display: flex;
  margin-bottom: 25px;
  margin-top: 25px;
}

.navi {
  display: block;
  padding: 5px;
  width: 100%;
  background: #555555;
  color: white;
  text-decoration: none;
  cursor: pointer;
  text-align: center;
  margin-right: 5px;
  margin-left: 5px;
  font-size: 10pt;
}

.navi.active {
  border-bottom: 3px solid #FF4F0F;
}
span.order_text {
  font-size: 11pt;
  display: inline-block;
  width: 130px;
}

.ord_input {
  border: 1px solid #BBBBBB;
  font-size: 11pt;
  padding: 6px;
  width: 400px;
  color: #555555;
  margin-top: 4px;
}

#order_submit {
  background: #FF4F0F;
  border: none;
  width: 100%;
  padding: 5px;
  margin-top: 15px;
  color: white;
  cursor: pointer;
  display: block;
  text-align: center;
  text-decoration: none;
}

#ord_form {
  width: 531px;
  margin: auto;
}

div#home_dig_content {
  margin-top: 30px;
  margin-bottom: 30px;
}

table#tab_cur_dig {
  width: 100%;
  border: 1px solid #AAAAAA;
  border-radius: 2px;
  border-collapse: collapse;
  background: white;
  margin-bottom: 15px;
  font-size: 11pt;
}


table#tab_cur_dig td {
  border: 1px solid #CCCCCC;
  text-align: center;
  font-family: kanit,sans-serif;
  color: #353535;
  padding: 10px;
}

table thead td {
  font-weight: bold;
}

table tbody tr:nth-child(even) {
  background-color: #f2f2f2
}

.progress_bar {
  display: block;
  background: #CCCCCC;
  width: 100%;
  height: 5px;
  border-radius: 2px;
}

.progress {
  display: block;
  background: #5BBB56;
  height: 5px;
  -webkit-transition: width 0.5s;
  transition: width 0.5s;
  border-radius: 2px;
}

#advanced {
  margin-top: 10px;
}

.align_top {
  vertical-align: top;
}

#advanced_content {
  display: none;
}

.limitdetail {
  font-size: 10pt;
  color: #555555;
}

#fader, #cancelOrderFader, #announceFader {
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.7);
  z-index: 10;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: none;
}

#confirm_container, #cancel_container, #anounceContainer {
  position: relative;
  width: 100%;
  height: 100%;
}

#confirmation, #cancelation, #announce2 {
  background: #F0F0F0;
  padding: 20px;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 10px;
}

#confirm_head, #cancel_head {
  text-align: center;
  width: 100%;
  display: block;
}

#confirm, #confirm_cancel {
  float: right;
  display: block;
  cursor: pointer;
  text-decoration: none;
  padding: 5px;
  color: white;
  background: #2B994E;
  padding-right: 20px;
  padding-left: 20px;
  border-radius: 2px;
  border: none;
}

#cancel, #cancel_cancel {
  float: left;
  display: block;
  cursor: pointer;
  text-decoration: none;
  padding: 5px;
  color: white;
  background: #777777;
  padding-right: 20px;
  padding-left: 20px;
  border-radius: 2px;
}

.text_wrapper {
  width: 460px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #555555;
}

.ord_max {
  border-right: none!important;
}

.cancel {
  border-left: none!important;
}

.can_btn {
  display: block;
  width: 30px;
  height: 30px;
  line-height: 30px;
  border-radius: 50%;
  background: #FF4F0F;
  color: white;
  font-weight: bold;
  cursor: pointer;
  text-decoration: none;
  margin: auto;
}

#cancelation {
  height: 150px!important;
}

#i_showing {
  display: none;
}

#announceFader {
  display: block;
}

#announce_image {
  max-width: 500px;
}

#announce_text h3 {
  text-align: center;
  font-weight: normal;
}

#announce_text span {

}

#announce_clicker {
  cursor: default;
}
