// Place all the styles related to the main controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

div#main_head_container {
  width: 100%;
  display: flex;
  position: relative;
}

img#main_head_img {
  width: 100%;
  object-fit: cover;
  height: 100%;
  position: absolute;
}

div#main_left_pannel {
  width: 80%;
  z-index: 1;
}

div#main_right_pannel {
  width: 100%;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.reg_input {
  border: 1px solid #BBBBBB;
  font-size: 10pt;
  padding: 6px;
  width: 100%;
  color: #555555;
  margin-top: 4px;
}

div#register_pannel {
  margin: 30px;
  background: #FF4F0F;
  border-radius: 6px;
  box-shadow: 0px 8px 10px rgba(0,0,0,0.3);
}

.reg_info {
  font-size: 10pt;
  color: #555555;
  font-weight: bold;
  width: 50%;
  line-height: 35px;
  margin-right: 20px;
  text-align: right;
}

.input_container {
  display: flex;
}

#reg_form {
  background: white;
  padding: 10px;
  padding-right: 30px;
  padding-left: 30px;
}

#reg_head {
  text-align: center;
  color: white;
  padding-top: 20px;
}

#reg_submit {
  cursor: pointer;
  background: #16192B;
  border: none;
  width: 100%;
  padding: 5px;
  margin-bottom: 5px;
  color: white;
}

.right_ad {
  width: 90px;
  height: 90px;
  text-align: center;
}

.right_ad h4 {
  margin-top: 18px;
  margin-bottom: 0px;
  font-size: 20pt;
}

.right_ad.orange {
  color: white;
  background: #FF4F0F;
}
.right_ad.white {
  color: #16192B;
  background: white;
}
.right_ad.blue {
  background: #16192B;
  color: white;
}

.right_ad span {
  font-size: 10pt;
}

#right_ad_pannel {
  display: flex;
  width: 630px;
  height: 270px;
  flex-wrap: wrap;
}

.blank_ad {
  width: 90px;
  height: 90px;
}

span#main_x_head {
  text-align: center;
  font-size: 35pt;
  display: block;
  margin-top: 35px;
  color: #16192B;

}

span#price_x_head {
  text-align: center;
  font-size: 35pt;
  display: block;
  padding-top: 35px;
  color: white;
}

div#main_detail_container, div#price_detail_container {
  width: 900px;
  display: flex;
  margin: auto;
  margin-top: 25px;
}

div.detail_item {
  width: 100%;
  border: 1px solid #AAAAAA;
  background: white;
  border-radius: 5px;
  margin: 10px;
}

div.detail_item h4 {
  text-align: center;
  font-size: 35pt;
  margin-top: 20px;
  color: #707385;
  margin-bottom: 20px;
}

div.detail_item h3 {
  text-align: center;
  color: #46495B;
}

div.detail_item ul {
  font-family: kanit,sans-serif;
  color: #757575;
  margin-right: 25px;
}

div.detail_item a {
  cursor: pointer;
  background: #FF4F0F;
  margin-left: 20px;
  margin-bottom: 20px;
  margin-right: 20px;
  position: relative;
  display: block;
  padding: 7px;
  color: white;
  text-decoration: none;
  text-align: center;
  border-radius: 3px;
}

div#price_content {
  background: #FF4F0F;
  margin-top: 30px;
}

table#price_detail {
  width: 100%;
  border: 1px solid #AAAAAA;
  border-radius: 2px;
  border-collapse: collapse;
  background: white;
  margin-bottom: 15px;
}

table#price_detail td {
  border: 1px solid #CCCCCC;
  text-align: center;
  font-family: kanit,sans-serif;
  color: #353535;
  padding: 10px;
}

table thead td {
  font-weight: bold;
}

span#ps_price {
  color: white;
  display: block;
  text-align: center;
  font-size: 10pt;
  padding-bottom: 55px;
}

#main_wrapper {
  width: 1150px;
  z-index: 1;
  display: flex;
  margin: auto;
}

