// Place all the styles related to the topup controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

div#announce {
  background: #FFCE51;
  margin: 10px;
  text-align: center;
  padding: 5px;
  border-radius: 5px;
  color: #333333;
}

div#home_container {
  margin: auto;
  width: 900px;
}

div#home_navi {
  width: 100%;
  display: flex;
  margin-bottom: 25px;
  margin-top: 25px;
}

.navi {
  display: block;
  padding: 5px;
  width: 100%;
  background: #555555;
  color: white;
  text-decoration: none;
  cursor: pointer;
  text-align: center;
  margin-right: 5px;
  margin-left: 5px;
  font-size: 10pt;
}

.navi.active {
  border-bottom: 3px solid #FF4F0F;
}

div#home_main_content {
  background: white;
  padding: 20px;
  border-radius: 10px;
  border: 1px solid #CCCCCC;
  margin-bottom: 30px;
}

span#text_rim, span#rim_point {
  font-size: 17pt;
  color: #363636;
}

hr {
  margin-top: 20px;
  margin-bottom: 20px;
  border: none;
  border-top: 1px solid #CCCCCC;
}


div#order_content {
  background: #FF4F0F;
  margin-top: 30px;
}

table#order_detail {
  width: 100%;
  border: 1px solid #AAAAAA;
  border-radius: 2px;
  border-collapse: collapse;
  background: white;
  margin-bottom: 15px;
  font-size: 11pt;
}

table#order_detail td {
  border: 1px solid #CCCCCC;
  text-align: center;
  font-family: kanit,sans-serif;
  color: #353535;
  padding: 10px;
}

table thead td {
  font-weight: bold;
}

table tbody tr:nth-child(even) {
  background-color: #f2f2f2
}

.paginate {
  display: inline-block;
  padding: 10px;
  background: #EEEEEE;
  margin: 1px;
  text-decoration: none;
  color: #363636;
}

.paginate.active {
  background: #FBFBFB;
  cursor: default;
}

#paginateWrapper {
  text-align: center;
}
