// Place all the styles related to the reg controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

div#footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
}

.reg_input {
  border: 1px solid #BBBBBB;
  font-size: 9pt;
  padding: 6px;
  width: 100%;
  color: #555555;
  margin-top: 4px;
}

div#register_pannel {
  margin: 30px;
  background: #FF4F0F;
  border-radius: 6px;
  box-shadow: 0px 8px 10px rgba(0,0,0,0.3);
}

.reg_info {
  font-size: 10pt;
  color: #555555;
  font-weight: bold;
  width: 50%;
  line-height: 35px;
  margin-right: 20px;
  text-align: right;
}

.input_container {
  display: flex;
}

#reg_form {
  background: white;
  padding: 10px;
  padding-right: 30px;
  padding-left: 30px;
}

#reg_head {
  text-align: center;
  color: white;
  padding-top: 20px;
}

#reg_submit {
  cursor: pointer;
  background: #16192B;
  border: none;
  width: 100%;
  padding: 5px;
  margin-bottom: 5px;
  color: white;
}

div#reg_container {
  width: 450px;
  margin: auto;
}
