// Place all the styles related to the topup controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

div#announce {
  background: #FFCE51;
  margin: 10px;
  text-align: center;
  padding: 5px;
  border-radius: 5px;
  color: #333333;
}

div#home_container {
  margin: auto;
  width: 900px;
}

div#home_navi {
  width: 100%;
  display: flex;
  margin-bottom: 25px;
  margin-top: 25px;
}

.navi {
  display: block;
  padding: 5px;
  width: 100%;
  background: #555555;
  color: white;
  text-decoration: none;
  cursor: pointer;
  text-align: center;
  margin-right: 5px;
  margin-left: 5px;
  font-size: 10pt;
}

.navi.active {
  border-bottom: 3px solid #FF4F0F;
}

div#home_main_content {
  background: white;
  padding: 20px;
  border-radius: 10px;
  border: 1px solid #CCCCCC;
  margin-bottom: 30px;
  padding-bottom: 50px;
}

span#text_rim, span#rim_point {
  font-size: 17pt;
  color: #363636;
}

hr {
  margin-top: 20px;
  margin-bottom: 20px;
  border: none;
  border-top: 1px solid #CCCCCC;
}

.change_password_text {
  font-size: 11pt;
  display: inline-block;
  width: 130px;
}
.ord_input {
  border: 1px solid #BBBBBB;
  font-size: 11pt;
  padding: 6px;
  width: 400px;
  color: #555555;
  margin-top: 4px;
}

#chg_pwd_form {
  width: 531px;
  margin: auto;
}

#confirm {
  background: #FF4F0F;
  border: none;
  width: 100%;
  padding: 5px;
  margin-top: 15px;
  color: white;
  cursor: pointer;
  display: block;
  text-align: center;
  text-decoration: none;
}
