// Place all the styles related to the terms controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

div#term_wrapper {
  width: 1000px;
  margin: auto;
  margin-top: 30px;
  margin-bottom: 30px;
  border: 1px solid #AAAAAA;
  border-radius: 5px;
  padding: 30px;
  background: #FAFAFA;
  color: #363636;
  font-size: 17px;
}

div#term_header {
  font-weight: bold;
  text-align: center;
  display: block;
}
