// Place all the styles related to the verify_user controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

div#footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
}

div#veri {
  text-align: center;
  margin-top: 35px;
}

div#veri span.good {
  border: 1px solid #5ABB5D;
  padding: 10px;
  border-radius: 3px;
}

div#veri span.bad {
  border: 1px solid #BB5353;
  padding: 10px;
  border-radius: 3px;
}
