<% unless current_user.is_confirmed %>
  <div id='announce'>
    <span>กรุณายืนยัน Email เพื่อรับเครดิตสำหรับการทดลองใช้ <%= BONUS_NEW_ACCOUNT %> คะแนนโหวต</span>
  </div>
<% end %>
<div id='home_container'>
  <div id='home_navi'>
    <a href='<%= home_path %>' class='navi'>หน้าแรก</a>
    <a href='<%= topup_path %>' class='navi'>เติมเงิน</a>
    <a href='<%= transaction_history_path %>' class='navi'>ประวัติการเติมเงิน</a>
    <a href='<%= order_history_path %>' class='navi active'>ประวัติการใช้บริการ</a>
    <a href='<%= contact_path %>' class='navi'>ติดต่อ</a>
    <a href='<%= setting_path %>' class='navi'>ตั้งค่า</a>
  </div>

  <div id='home_main_content'>
    <div id='home_head'>
      <span id='text_rim'>ประวัติการใช้บริการ</span>
    </div>
    <hr>
    <div id='order_detail_container'>
      <table id='order_detail'>
        <thead>
          <tr>
            <td width="20%">เวลา</td>
            <td width="20%">สถานะ</td>
            <td width="20%">เซิฟเวอร์</td>
            <td width="20%">ไอดี</td>
            <td width="20%">เครดิต</td>
          </tr>
        </thead>
        <tbody>
          <% OrderTransaction.where(:user_id => current_user.id).order(:created_time => :desc).limit(10).offset((@page-1)*10).each do |ttrns| %>
            <% if ttrns.is_finished == false %>
              <% if ttrns.status == 'C' %>
                <% ttrns.is_finished = true %>
                <% ttrns.save %>
                <% this_count = ttrns.finished_credit %>
              <% else %>
                <% talkable_order_key = ttrns.id.to_s+"#-#"+ttrns.order_key %>
                <% last_credit = $redis.get(talkable_order_key).to_i %>
                <% this_count = last_credit %>
              <% end %>
            <% else %>
              <% this_count = ttrns.finished_credit %>
            <% end %>
            <tr data-order_id='<%= ttrns.id %>' class='dig_row' data-current_dig='<%= this_count.to_i %>'>
              <td><%= Time.at(ttrns.created_time).strftime('%D %r') %></td>
              <td><%=
                case ttrns.status
                when 'A'
                  '<span style="color: #9A762F;">กำลังเตรียมพร้อม</span>'.html_safe
                when 'B'
                  '<span style="color: #9A762F;">กำลังขุด</span>'.html_safe
                when 'C'
                  '<span style="color: #4C9A2F;">เสร็จ</span>'.html_safe
                when 'D'
                  '<span style="color: #9A3030;">ล้มเหลว</span>'.html_safe
                end
              %></td>
              <td><%= ttrns.url || '-' %></td>
              <td><%= ttrns.username || '-' %></td>
              <td class='ord_max'><span class='cur_ord'><%= this_count.to_i %></span> / <span id='max_ord'><%= ttrns.credit %></span></td>
            </tr>
          <% end %>
        </tbody>
      </table>
      <div id='paginateWrapper'>
        <a href='<%= @page == 1 ? '#' : '?page='+(@page-1).to_s %>' class='paginate <%= @page == 1 ? 'active' : '' %>'>&#60;</a>
          <% @total_page.times do |i| %>
            <a href='?page=<%= i+1 %>' class='paginate <%= @page == i+1 ? 'active' : '' %>'><%= i+1 %></a>
          <% end %>
        <a href='<%= (@page*10) >= @total ? '#' : '?page='+(@page+1).to_s %>' class='paginate <%= (@page*10) >= @total ? 'active' : '' %>'>&#62;</a>
      </div>
    </div>
  </div>
</div>
