<html xmlns="http://www.w3.org/1999/xhtml" xmlns="http://www.w3.org/1999/xhtml">
	<head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <title>ยินดีต้อนรับเข้าสู่ Playdigger.com</title>
        </head>
    <body leftmargin="0" marginwidth="0" topmargin="0" marginheight="0" offset="0" style="-webkit-text-size-adjust: 100%;-ms-text-size-adjust: 100%;margin: 0;padding: 0;height: 100% !important;width: 100% !important;background-color: #DEE0E2">
    	<center>
        	<table align="center" border="0" cellpadding="0" cellspacing="0" height="100%" width="100%" id="bodyTable" style="margin-top: 15px; margin-bottom: 15px; height: 100% !important;margin: 0;padding: 0;width: 100% !important;border-collapse: collapse !important;background-color: rgb(222, 224, 226);-webkit-text-size-adjust: 100%;-ms-text-size-adjust: 100%;mso-table-lspace: 0;mso-table-rspace: 0">
            	<tr>
                	<td align="center" valign="top" id="bodyCell" style="border-top: 4px solid rgb(187, 187, 187);padding: 0;height: 100% !important;margin: 0;width: 100% !important;-webkit-text-size-adjust: 100%;-ms-text-size-adjust: 100%;mso-table-lspace: 0;mso-table-rspace: 0">
                    	<!-- BEGIN TEMPLATE // -->
                    	<table border="0" cellpadding="0" cellspacing="0" id="templateContainer" style="border: 1px solid rgb(187, 187, 187);width: 600px;-webkit-text-size-adjust: 100%;-ms-text-size-adjust: 100%;mso-table-lspace: 0;mso-table-rspace: 0;border-collapse: collapse !important">
                        	<tr>
                            	<td align="center" valign="top" style="-webkit-text-size-adjust: 100%;-ms-text-size-adjust: 100%;mso-table-lspace: 0;mso-table-rspace: 0">
                                	<!-- BEGIN PREHEADER // -->
                                    <table border="0" cellpadding="0" cellspacing="0" width="100%" id="templatePreheader" style="background-color: rgb(54, 54, 54);border-bottom: 1px solid rgb(204, 204, 204);-webkit-text-size-adjust: 100%;-ms-text-size-adjust: 100%;mso-table-lspace: 0;mso-table-rspace: 0;border-collapse: collapse !important">
                                        <tr>
                                            <td valign="top" class="preheaderContent" style="padding: 10px 20px;color: rgb(128, 128, 128);font-family: Helvetica;font-size: 10px;line-height: 125%;text-align: left;padding-right: 20px;padding-bottom: 10px;padding-left: 20px;-webkit-text-size-adjust: 100%;-ms-text-size-adjust: 100%;mso-table-lspace: 0;mso-table-rspace: 0" mc:edit="preheader_content00">
                                                โปรโหวตที่ดีที่สุดในขณะนี้ Playdigger.com ไม่ต้องเปิดโปรแกรม ไม่ต้องเปิดคอมทิ้งไว้ เพียงแค่ส่งคำสั่งคะแนนขุดขึ้นทันที
                                            </td>
                                            <!-- *|IFNOT:ARCHIVE_PAGE|* -->
                                            <td valign="top" width="180" class="preheaderContent" style="padding: 10px 20px 10px 0;color: rgb(128, 128, 128);font-family: Helvetica;font-size: 10px;line-height: 125%;text-align: left;-webkit-text-size-adjust: 100%;-ms-text-size-adjust: 100%;mso-table-lspace: 0;mso-table-rspace: 0" mc:edit="preheader_content01">
                                                อีเมลแสดงผลไม่ถูกต้อง?<br /><a href="#" target="_blank" style="-webkit-text-size-adjust: 100%;-ms-text-size-adjust: 100%; color: #606060;">เปิดบนบราวเซอร์</a>.
                                            </td>
                                            <!-- *|END:IF|* -->
                                        </tr>
                                    </table>
                                    <!-- // END PREHEADER -->
                                </td>
                            </tr>
                        	<tr>
                            	<td align="center" valign="top" style="-webkit-text-size-adjust: 100%;-ms-text-size-adjust: 100%;mso-table-lspace: 0;mso-table-rspace: 0">
                                	<!-- BEGIN HEADER // -->
                                    <table border="0" cellpadding="0" cellspacing="0" width="100%" id="templateHeader" style="-webkit-text-size-adjust: 100%;-ms-text-size-adjust: 100%;mso-table-lspace: 0;mso-table-rspace: 0;border-collapse: collapse !important;background-color: #F4F4F4;border-top: 1px solid #FFF;border-bottom: 1px solid #CCC">
                                        <tr>
                                            <td valign="top" class="headerContent" style="color: rgb(80, 80, 80);font-family: Helvetica;font-size: 20px;font-weight: bold;line-height: 100%;padding: 0;text-align: left;vertical-align: middle;display: block;height: 63px;background: #16192B;-webkit-text-size-adjust: 100%;-ms-text-size-adjust: 100%;mso-table-lspace: 0;mso-table-rspace: 0;padding-top: 0;padding-right: 0;padding-bottom: 0;padding-left: 0">
                                            	<img src="https://s3-ap-southeast-1.amazonaws.com/playdigger/email/playdiggerlogo.png" style="max-width: 600px;height: auto;margin-left: auto;margin-top: auto;margin-right: auto;position: relative;display: block;padding-top: 10px;-ms-interpolation-mode: bicubic;border: 0;line-height: 100%;outline: none;text-decoration: none" id="headerImage" mc:label="header_image" mc:edit="header_image" mc:allowdesigner="" mc:allowtext="" />
                                            </td>
                                        </tr>
                                    </table>
                                    <!-- // END HEADER -->
                                </td>
                            </tr>
                        	<tr>
                            	<td align="center" valign="top" style="-webkit-text-size-adjust: 100%;-ms-text-size-adjust: 100%;mso-table-lspace: 0;mso-table-rspace: 0">
                                	<!-- BEGIN BODY // -->
                                    <table border="0" cellpadding="0" cellspacing="0" width="100%" id="templateBody" style="-webkit-text-size-adjust: 100%;-ms-text-size-adjust: 100%;mso-table-lspace: 0;mso-table-rspace: 0;border-collapse: collapse !important;background-color: #F4F4F4;border-top: 1px solid #FFF;border-bottom: 1px solid #CCC">
                                        <tr>
                                            <td valign="top" class="bodyContent" mc:edit="body_content00" style="-webkit-text-size-adjust: 100%;-ms-text-size-adjust: 100%;mso-table-lspace: 0;mso-table-rspace: 0;color: #505050;font-family: Helvetica;font-size: 14px;line-height: 150%;padding-top: 20px;padding-right: 20px;padding-bottom: 20px;padding-left: 20px;text-align: left">
                                                <h1 style="color: #202020 !important;display: block;font-family: Helvetica;font-size: 26px;font-style: normal;font-weight: bold;line-height: 100%;letter-spacing: normal;margin-top: 0;margin-right: 0;margin-bottom: 10px;margin-left: 0;text-align: left">สวัสดีคุณ <%= @name %></h1>
                                                เพื่อให้บัญชีของคุณเสร็จสมบูรณ์คุณต้องคลิกลิงค์ด้านล่าง เพื่อยืนยันที่อยู่อีเมลของคุณ
                                            </td>
                                        </tr>
                                    	<tr>
				    <td valign="top" class="bodyContent" mc:edit="body_content00" style="-webkit-text-size-adjust: 100%;-ms-text-size-adjust: 100%;mso-table-lspace: 0;mso-table-rspace: 0;color: #505050;font-family: Helvetica;font-size: 14px;line-height: 150%;padding-top: 20px;padding-right: 20px;padding-bottom: 20px;padding-left: 20px;text-align: left">
                                                <a href="<%= @uri %>" target="_blank" style="-webkit-text-size-adjust: 100%;-ms-text-size-adjust: 100%; color: #EB4102;">คลิกที่นี่เพื่อยืนยันที่อยู่อีเมลบัญชีของคุณ</a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td valign="top" class="bodyContent" mc:edit="body_content01" style="-webkit-text-size-adjust: 100%;-ms-text-size-adjust: 100%;mso-table-lspace: 0;mso-table-rspace: 0;color: #505050;font-family: Helvetica;font-size: 14px;line-height: 150%;padding-top: 20px;padding-right: 20px;padding-bottom: 20px;padding-left: 20px;text-align: left">
                                               ลิงค์ไม่ทำงาน? คัดลอก <em><%= @uri %></em> แล้ววางบนบราวเซอร์ของคุณ
					<hr class="lineStr" style="border: none;border-top: 1px solid #D7D9DB" />
					<br />
                                                โปรดอย่าตอบกลับอีเมลนี้ นี่เป็นอีเมลจากระบบอัตโนมัติ ซึ่งไม่มีผู้อ่าน หากต้องการช่วยเหลือโปรดติดต่อที่ <em><a href="#" target="_blank" style="-webkit-text-size-adjust: 100%;-ms-text-size-adjust: 100%; color: #EB4102;">contact.playdigger@gmail.com</a></em> โดยตรง 
                                            </td>
                                        </tr>
                                    </table>
                                    <!-- // END BODY -->
                                </td>
                            </tr>
                        	<tr>
                            	<td align="center" valign="top" style="-webkit-text-size-adjust: 100%;-ms-text-size-adjust: 100%;mso-table-lspace: 0;mso-table-rspace: 0">
                                	<!-- BEGIN FOOTER // -->
                                    <table border="0" cellpadding="0" cellspacing="0" width="100%" id="templateFooter" style="-webkit-text-size-adjust: 100%;-ms-text-size-adjust: 100%;mso-table-lspace: 0;mso-table-rspace: 0;border-collapse: collapse !important;background-color: #F4F4F4;border-top: 1px solid #FFF">
                                        <tr>
                                            <td valign="top" class="footerContent" mc:edit="footer_content00" style="-webkit-text-size-adjust: 100%;-ms-text-size-adjust: 100%;mso-table-lspace: 0;mso-table-rspace: 0;color: #808080;font-family: Helvetica;font-size: 10px;line-height: 150%;padding-top: 20px;padding-right: 20px;padding-bottom: 20px;padding-left: 20px;text-align: left">
                                                <a href="https://www.twitter.com/playdiggerofficial" style="color: #606060; -webkit-text-size-adjust: 100%;-ms-text-size-adjust: 100%">Follow on Twitter</a>   <a href="https://www.facebook.com/playdiggerservice" style="color: #606060; -webkit-text-size-adjust: 100%;-ms-text-size-adjust: 100%">Friend on Facebook</a>   
                                            </td>
                                        </tr>
                                        <tr>
                                            <td valign="top" class="footerContent" style="padding-top: 0;-webkit-text-size-adjust: 100%;-ms-text-size-adjust: 100%;mso-table-lspace: 0;mso-table-rspace: 0;color: #808080;font-family: Helvetica;font-size: 10px;line-height: 150%;padding-right: 20px;padding-bottom: 20px;padding-left: 20px;text-align: left" mc:edit="footer_content01">
                                                <em>Copyright © 2017 Playdigger, All rights reserved.</em>
                                                <br />
                                                โปรดอ่านข้อกำหนดและเงื่อนไขอย่างรอบคอบก่อนใช้งาน
                                                <br />
                                                <br />
                                                <strong>ติดต่อเราได้ที่:</strong>
                                                <br />
                                                contact.playdigger@gmail.com
                                            </td>
                                        </tr>
                                        <tr>
                                            <td valign="top" class="footerContent" style="padding-top: 0;-webkit-text-size-adjust: 100%;-ms-text-size-adjust: 100%;mso-table-lspace: 0;mso-table-rspace: 0;color: #808080;font-family: Helvetica;font-size: 10px;line-height: 150%;padding-right: 20px;padding-bottom: 20px;padding-left: 20px;text-align: left" mc:edit="footer_content02">
                                            </td>
                                        </tr>
                                    </table>
                                    <!-- // END FOOTER -->
                                </td>
                            </tr>
                        </table>
                        <!-- // END TEMPLATE -->
                    </td>
                </tr>
            </table>
        </center>
    </body>
</html>

