<!DOCTYPE html>
<html>
  <head>
    <title>Playdigger | บริการขุด PlayServer ราคาถูก รวดเร็ว คะแนนครบ</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <% if current_user %>
      <link rel="manifest" href="/manifest.json" />
    <% end %>

    <%= csrf_meta_tags %>

    <% if current_user %>
      <script>
        userId = <%= current_user.id %>
        window.vapidPublicKey = new Uint8Array(<%= Base64.urlsafe_decode64(Playdigger::Vapid['keypair']).bytes %>);
        currentSubscribed = <%= current_user.can_send_notification %>
      </script>
    <% end %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= stylesheet_link_tag    params[:controller], media: 'all' %>
    <%= javascript_include_tag params[:controller] %>
  </head>

  <body>
    <div id='all_container'>
      <div id='header'>
        <div id='head_left'>
          <a href='/'><%= image_tag('playdiggerlogo.png', id: 'logo_top') %></a>
        </div>
        <div id='head_right'>
          <% unless current_user %>
            <%= form_tag('/user_signin', id: 'login_form', remote: true, authenticity_token: true, :multipart => true, enctype: 'application/json') do %>
              <%= text_field_tag :username, nil, placeholder: 'Username', class: 'login_input' %>
              <%= password_field_tag :password, nil, placeholder: 'Password', class: 'login_input' %>
              <%= submit_tag 'เข้าสู่ระบบ', id: 'login_btn' %>
            <% end %>
          <% else %>
            <div id="noti">
              <a id='toggleNoti' class='btnNoti' href='#'>
                <span class="fa-layers fa-fw">
                  <i class="fas fa-envelope"></i>
                  <% counter_noti = Notification.where(user_id: current_user.id).where("created_time > #{current_user.last_seen_notification_time}").count %>
                  <span id='noti_counter' class="fa-layers-counter" style="background: #FF4F0F; display: <%= counter_noti == 0 ? 'none' : 'block' %>;"><%= counter_noti %></span>
                </span>
              </a>
              <div id='notiList'>
                <div id='notiListHead'>
                  <span>การแจ้งเตือน</span><a href='#' onclick='readall()'>อ่านแล้วทั้งหมด</a>
                </div>
                <hr>
                <div id='notiListData'>
                  <ul>
                    <% Notification.where(:user_id => current_user.id).order(:created_time => :desc).limit(15).each do |noti| %>
                      <a href='/notification/<%= noti.id %>' class='notiShowup <%= noti.is_read ? '' : 'unread' %>' id='<%= noti.id %>'  data-created_time='<%= noti.created_time %>'>
                        <li>
                          <div class='notiIcon fa-fw'>
                            <span class="fa-layers fa-fw">
                              <i class="fas fa-circle" style="color: <%= noti.get_icon_background %>"></i>
                              <i class="fa-inverse fas fa-<%= noti.get_icon %>" data-fa-transform="shrink-6"></i>
                            </span>
                          </div>
                          <div class='notiContent'>
                            <div class='notiContentHead'>
                              <span><%= noti.get_title %></span>
                            </div>
                            <div class='notiContentTime'>
                              <span><%= noti.get_time %></span>
                            </div>
                          </div>
                        </li>
                      </a>
                    <% end %>
                    <% if Notification.where(:user_id => current_user.id).count > 15 %>
                      <div id='loadNoti'><li><span><i class="fas fa-circle-notch fa-spin"></i></span></li></div>
                    <% elsif Notification.where(:user_id => current_user.id).count == 0 %>
                      <div id='noNoti'><li><span>ยังไม่มีการแจ้งเตือน</span></li></div>
                    <% end %>
                  </ul>
                </div>
              </div>
            </div>
            <a href='/logout' id='top_signout'>ออกจากระบบ</a>
          <% end %>
        </div>
      </div>
      <div id='all_body'>
        <%= yield %>
      </div>
      <div id='footer'>
        <span>PlayDigger high quality voting service serves for everyone.</span><br>
        <span>©2017 playdigger.com All rights reserved.</span><br>
        <br>
        <span id="siteseal"><script async type="text/javascript" src="https://seal.starfieldtech.com/getSeal?sealID=97BqpBTuYxQjIwgtcMi1dMqUkjBif5dI3KqpvsBkVMB3P2GeFPFFlHShHPld"></script></span>
      </div>
    </div>
    <section id='snackcontainer' style="position: fixed; bottom: -50px; width: 100%; height: 50px;">
      <div id='snackbar' class='good'>
        <span></span>
      </div>
    </section>
  </body>
</html>
